<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Business.Properties.Settings.URESIDENCEConnectionString"
            connectionString="Data Source=CEDPC\SQLEXPRESS;Initial Catalog=URESIDENCE;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>