
@{
    string pending = "Pending";
    string approved = "Approved";
    string denied = "Denied";
    string completed = "Completed";
    ViewBag.Title = "Records";
    Layout = "~/Views/Layout/BossManagerLayout.cshtml";
}

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">


</head>

<div id="content1">
    <div class="container">
        <div class="modal fade" id="myModal" role="dialog">
            <div class="modal-dialog">
                <div class="modal-content">
					<div class="modal-header" style="background-color:#43a047">

						<font color="white">
							<button type="button" class="close" data-dismiss="modal">&times;</button>
							<h4 class="modal-title"><span id="eventTitle"></span></h4>
						</font>

					</div>
                    <div class="modal-body" style="max-height:calc(100vh-212px); overflow-y:auto;" >
                        <input type="hidden" name="rid" id="rid" />
                        <input type="hidden" name="rfid" id="rfid" />
                        <p id="pDetails"></p>
                        <br /><br />
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br /><br />

    <br /> <br /> <br /> <br /><br />

    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-heading" style="background-color:  #1C2331">
                <font color="white"> <h2 class="panel-title"> Reversal List </h2></font>
            </div>
       
            <br />
            <center>
                <b>Category</b> <select class="form-control" id="cboType" onchange="ChangeBy()">
                    <option value="Monthly">Monthly</option>
                    <option value="Yearly">Yearly</option>
                </select>
          

            </center>
            <br />
            <center>

                <div class="col-md-6">

                    <b><h5>Year : </h5></b>
                    <select id="textyear1" class="form-control" name="textyear1" onchange="ChangeBy()">
                        <option value="2018">2018</option>
                    </select>
                </div>

                <div class="col-md-6">
                    <b><h5>Month : </h5></b><select id="monthly" class="form-control" onchange="ChangeBy()">
                        <option value="1">January</option>
                        <option value="2">February</option>
                        <option value="3">March</option>
                        <option value="4">April</option>
                        <option value="5">May</option>
                        <option value="6">June</option>
                        <option value="7">July</option>
                        <option value="8">August</option>
                        <option value="9">September</option>
                        <option value="10">October</option>
                        <option value="11">November</option>
                        <option value="12">December</option>
                    </select>
                </div>
            </center>

            <br /> <br />



            <div class="col-lg-12"> </div>

            <div class="pull-left">
                <br />
                <label id="caption" name="caption"></label>
            </div>
            <div class="pull-right">
                <div class="btn-group">
                    <br />
                    <button type="button" class="btn btn-default btn-filter " value="Approved" onclick="Set('@approved')">Approved</button>
                    <button type="button" class="btn btn-default btn-filter " value="Pending" onclick="Set('@pending')">Pending</button>
                    <button type="button" class="btn btn-default btn-filter" value="Denied" onclick="Set('@denied')">Denied</button>

                </div>
            </div>
            <br />
            <br />

            <table class="table table-bordered table-striped " id="tableReversalList"></table>

        </div>
    </div>
</div>
@section scripts{
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.18.1/moment.min.js"></script>
    <script>

        var global = '';
        $(document).ready(SetP());
        $(document).ready(function () {
            var content1 = document.getElementById('content1');
            $('#maincontent1').append(content1);

        });
        function ChangeBy() {
            if (global == "Pending") {
                SetP();
            }
            else if (global == "Approved") {
                SetA();
            }
            else if (global == "Denied") {
                SetD();
            }
            else {
                SetC();
            }
        }
        function SetP() {
            var s = 'Pending';
            var tp = document.getElementById('cboType').value;
            var textyear = document.getElementById('textyear1').value;
            var monthly = document.getElementById('monthly').value;
            global = s;
            document.getElementById('caption').innerHTML = 'List of ' + s;
            $.ajax({
                type: 'POST',
                url: '/ReversalRecord/GetP',
                data: { "type": tp, "month": monthly, "year": textyear },
                success: function (data) {
                    $('#tableReversalList').empty();
                    trHTML = '<tr><th>Date</th> <th>Created By</th> <th>Reserved By</th><th>Amenity</th> <th>Date of Reservation</th> <th>Amount</th><th>Reason</th><th>Status</th><th>Change Status</th><th>Action</th></tr>';
                    $.each(data, function (i, v) {
                        trHTML += '<tr><td>' + v.Date + '</td><td>' + v.CreatedBy + '</td><td>' + v.Fullname + '</td><td>' + v.AmenityName + '</td><td>' + v.DateofReservation + '</td><td> ₱' + v.Amount.toFixed(2) + '</td><td>' + v.Description + '</td><td>' + v.Status + '</td><td><select id="rstatus' + v.Id + '" onchange="UpdateStatus(' + v.Id + ')"> <option value="" selected disabled hidden>' + v.Status + '</option><option value="Approved">Approved</option><option value="Denied">Denied</option></select></td><td><button class="btn btn-default" id="btnViewModal" onclick="ViewModal(' + v.RefNo + ')">View Details</button></td></tr>';

                    });
                    $('#tableReversalList').append(trHTML);
                    trHTML = '';

                },
                error: function (error) {
                    alert('Failed to retrieve record');
                }
            });
        }

        function SetA() {
            var s = 'Approved';
            var tp = document.getElementById('cboType').value;
            var textyear = document.getElementById('textyear1').value;
            var monthly = document.getElementById('monthly').value;
            global = s;
            $.ajax({
                type: 'POST',
                url: '/ReversalRecord/GetA',
                data: { "type": tp, "month": monthly, "year": textyear },
                success: function (data) {
                    $('#tableReversalList').empty();
                    trHTML = '<tr><th>Date</th> <th>Created By</th> <th>Reserved By</th><th>Amenity</th> <th>Date of Reservation</th> <th>Amount</th><th>Reason</th><th>Status</th><th>Change Status</th><th>Action</th></tr>';
                    $.each(data, function (i, v) {

                        trHTML += '<tr><td>' + v.Date + '</td><td>' + v.CreatedBy + '</td><td>' + v.Fullname + '</td><td>' + v.AmenityName + '</td><td>' + v.DateofReservation + '</td><td> ₱' + v.Amount.toFixed(2) + '</td><td>' + v.Description + '</td><td>' + v.Status + '</td><td><select id="rstatus' + v.Id + '" onchange="UpdateStatus(' + v.Id + ')"> <option value="" selected disabled hidden>' + v.Status + '</option><option value="Approved">Approved</option><option value="Denied">Denied</option></select></td><td><button class="btn btn-default" id="btnViewModal" onclick="ViewModal(' + v.RefNo + ')">View Details</button></td></tr>';

                    });
                    $('#tableReversalList').append(trHTML);
                    trHTML = '';

                },
                error: function (error) {
                    alert('Failed to retrieve record');
                }
            });
        }
        function SetD() {
            var s = 'Denied';
            var tp = document.getElementById('cboType').value;
            var textyear = document.getElementById('textyear1').value;
            var monthly = document.getElementById('monthly').value;
            global = s;
            $.ajax({
                type: 'POST',
                url: '/ReversalRecord/GetD',
                data: { "type": tp, "month": monthly, "year": textyear },
                success: function (data) {
                    $('#tableReversalList').empty();
                    trHTML = '<tr><th>Date</th> <th>Created By</th> <th>Reserved By</th><th>Amenity</th> <th>Date of Reservation</th> <th>Amount</th><th>Reason</th><th>Status</th><th>Change Status</th><th>Action</th></tr>';
                    $.each(data, function (i, v) {

                        trHTML += '<tr><td>' + v.Date + '</td><td>' + v.CreatedBy + '</td><td>' + v.Fullname + '</td><td>' + v.AmenityName + '</td><td>' + v.DateofReservation + '</td><td> ₱' + v.Amount.toFixed(2) + '</td><td>' + v.Description + '</td><td>' + v.Status + '</td><td><select id="rstatus' + v.Id + '" onchange="UpdateStatus(' + v.Id + ')"> <option value="" selected disabled hidden>' + v.Status + '</option><option value="Approved">Approved</option><option value="Denied">Denied</option></select></td><td><button class="btn btn-default" id="btnViewModal" onclick="ViewModal(' + v.RefNo + ')">View Details</button></td></tr>';

                    });
                    $('#tableReversalList').append(trHTML);
                    trHTML = '';

                },
                error: function (error) {
                    alert('Failed to retrieve record');
                }
            });
        }
        function SetC() {
            var s = 'Completed';
            var tp = document.getElementById('cboType').value;
            var textyear = document.getElementById('textyear1').value;
            var monthly = document.getElementById('monthly').value;
            global = s;
            $.ajax({
                type: 'POST',
                url: '/ReversalRecord/GetC',
                data: { "type": tp, "month": monthly, "year": textyear },
                success: function (data) {
                    $('#tableReversalList').empty();
                    trHTML = '<tr><th>Date</th> <th>Created By</th> <th>Reserved By</th><th>Amenity</th> <th>Date of Reservation</th> <th>Amount</th><th>Reason</th><th>Status</th><th>Change Status</th><th>Action</th></tr>';
                    $.each(data, function (i, v) {

                        trHTML += '<tr><td>' + v.Date + '</td><td>' + v.CreatedBy + '</td><td>' + v.Fullname + '</td><td>' + v.AmenityName + '</td><td>' + v.DateofReservation + '</td><td> ₱' + v.Amount.toFixed(2) + '</td><td>' + v.Description + '</td><td>' + v.Status + '</td><td><select id="rstatus' + v.Id + '" onchange="UpdateStatus(' + v.Id + ')"> <option value="" selected disabled hidden>' + v.Status + '</option><option value="Approved">Approved</option><option value="Denied">Denied</option></select></td><td><button class="btn btn-default" id="btnViewModal" onclick="ViewModal(' + v.RefNo + ')">View Details</button></td></tr>';
                    });
                    $('#tableReversalList').append(trHTML);
                    trHTML = '';

                },
                error: function (error) {
                    alert('Failed to retrieve record');
                }
            });
        }
        function UpdateStatus(id) {

            if (confirm('Are you sure?')) {
                var status = document.getElementById('rstatus' + id).value;
                var data = {
                    Id: id,
                    Status: status
                };
                $.ajax({
                    type: 'POST',
                    url: '/ReversalRecord/UpdateStatus',
                    data: data,
                    success: function (data) {
                        window.location.reload();
                    },
                    error: function (data) {
                        alert('failed');
                    }

                });
            }
		}

        function ViewModal(refno) {
            $('#myModal').modal();
            $.ajax({
                type: "POST",
                url: "/ReversalRecord/GetModal",
                data: { 'refno': refno },
                success: function (Data) {
                    var data1 = Data.Data.Reservation;
                    var data2 = Data.Data.Equipment;
                    var data3 = Data.Data.Swimming;
                    var ftotal = 0;
                    var stots = 0;
                    var tots = 0;
                    $.each(data1, function (i, v) {
                        var s = moment(v.StartTime);
                        var st = s.format("DD/MMM/YYYY hh:mm a");
                        var e = moment(v.EndTime);
                        var et = e.format("DD/MMM/YYYY hh:mm a");
                        $('#myModal #eventTitle').html('<b>Reference Number: </b>' + refno);
                        var $description = $('<div/>');
						$description.append($('<p/>').html('<div class="col-sm-4"> <b>Amenity Name: </b> </div>' + '<div class="col-sm-7">' + v.AName + '</div>'));
						$description.append($('<p/>').html('<div class="col-sm-4"> <b>Reserved By: </b> </div>' + '<div class="col-sm-7">' + v.ReservedBy + '</div>'));
						$description.append($('<p/>').html('<div class="col-sm-4"> <b>Building No: </b> </div>' + '<div class="col-sm-7">' + v.BldgNo + '</div>'));
						$description.append($('<p/>').html('<div class="col-sm-4"> <b>Unit No: </b> </div>' + '<div class="col-sm-7">' + v.UnitNo + '</div>'));
						$description.append($('<p/>').html('<div class="col-sm-4"> <b>StartTime: </b> </div>' + '<div class="col-sm-7">' + st + '</div>'));
						$description.append($('<p/>').html('<div class="col-sm-4"> <b>EndTime: </b> </div>' + '<div class="col-sm-7">' + et + '</div>'));
                        $.each(data3, function (i, s) {
                            stots = (s.Adult * s.AdultRate) + (s.Child * s.ChildRate);
							$description.append($('<p/>').html('<div class="col-sm-4"><b>No. of Adult: </b> </div>' + '<div class="col-sm-7">' + s.Adult + '</div>' + ' <div class= "col-sm-4"> <b>Adult Rate: </b> ' + '<div class="col-sm-7"> ₱' + s.AdultRate.toFixed(2) + '</div>'));
							$description.append($('<p/>').html('<div class="col-sm-4"><b>Adult Cost: </b> </div> ' + '<div class="col-sm-7">  ₱' + (s.Adult * s.AdultRate).toFixed(2) + '</div>'));
							$description.append($('<p/>').html('<div class="col-sm-4"><b>No. of Children: </b> </div> ' + '<div class="col-sm-7">' + s.Child + '</div>' + '<div class= "col-sm-4"> <b>Child Rate: </b> ' + '<div class="col-sm-7"> ₱' + s.ChildRate.toFixed(2) + '</div>'));
							$description.append($('<p/>').html('<div class="col-sm-4"><b> Child Cost: </b> </div> ' + '<div class="col-sm-7">  ₱' + (s.Child * s.ChildRate).toFixed(2) + '</div>'));
                        })

                        if (stots > 0) {
                            ftotal = stots;
                        }
                        else {
                            ftotal = v.Rate;
                        }
						$description.append($('<p/>').html('<div class="col-sm-4"><b>Amenity Cost: </b> </div>' + '<div class="col-sm-7"> ₱' + ftotal.toFixed(2)));
                        $.each(data2, function (i, c) {
                            mule = c.Quantity * c.Rate;
							$description.append($('<p/>').html('<div class="col-sm-4"><b>' + c.EquipmentName + ' Quantity: </b> </div>' + '<div class="col-sm-5">' + c.Quantity + '</div>' + '<div class= "col-sm-4"> ' + c.EquipmentName + ' Rate: <b/> ' + '<div class="col-sm-7" > ₱' + c.Rate.toFixed(2) + '</div>'));
							$description.append($('<p/>').html('<div class="col-sm-4"><b>' + c.EquipmentName + ' Cost: </b> ₱ </div>' + '<div class="col-sm-5">' + mule.toFixed(2) + '</div>'));
                            tots += mule;
                        });
						$description.append($('<p/>').html('<div class= "col-sm-4"><b>Charge: </b> </div> ' + '<div class= "col-sm-7"> ₱' + v.Charge.toFixed(2) + '</div>'));
						$description.append($('<p/>').html('<div class= "col-sm-4"><b>Total Cost: </b> </div> ' + '<div class= "col-sm-7"> ₱' + ((ftotal + tots + v.Charge).toFixed(2)) + '</div>'));
						$description.append($('<p/>').html('<div class= "col-sm-4"><b>Total Payment: </b> </div> ' + '<div class= "col-sm-7"> ₱' + (v.Total - v.Amount).toFixed(2) + '</div>'));
						$description.append($('<p/>').html('<div class= "col-sm-4"><b>Reversal Amount: </b> </div> ' + '<div class= "col-sm-7"> ₱' + (v.Amount).toFixed(2) + '</div>'));
						$description.append($('<p/>').html('<div class= "col-sm-4"><b>Status: </b> </div>' + '<div class= "col-sm-7"> ' + v.Status + '</div>'));
                        document.getElementById('rid').value = v.SRId;
                        document.getElementById('rfid').value = v.RFId;
                        $('#myModal #pDetails').empty().html($description);
                    })


                },
                error:
                    function (error) {
                        alert('Failed to retrieve the record');
                    }

            });

        }
        function Set(s) {
            document.getElementById('caption').innerHTML = 'List of ' + s;
            if (s == 'Pending') {
                SetP();
            }
            else if (s == 'Approved') {
                SetA();
            }
            else if (s == 'Denied') {
                SetD();
            }
            else {
                SetC();
            }
        }
    </script>
}
