@{
    string pending = "Pending";
    string approved = "Approved";
    string denied = "Denied";
    string completed = "Completed";
    Layout = "~/Views/Layout/AdminLayout.cshtml";
}

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">


</head>

<div class="container">
    <div class="modal fade" id="updateModal" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header"  style="background-color:#43a047">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title"><span id="eventTitle"></span></h4>
                </div>
                <div class="modal-body form-horizontal">

                    <div class="form-inline">
                        <input type="hidden" id="txtid" name="txtid" />

                        <div class="col-sm-3">
                            <b>Amount :</b>
                        </div>

                        <div class="col-sm-9">
                            <input type="text" class="form-control" name="amount" id="amount" required />
                        </div>
                            <br /><br />
                                  <div class="col-sm-3">
                                      <b>Description :</b>
                                  </div>

                                  <div class="col-sm-9">
                                      <textarea type="text" class="form-control" name="description" id="description" required></textarea>
                                  </div>
                            <br /><br />
                    </div>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-success" id="btnUpdate" name="btnUpdate" onclick="Update()" data-dismiss="modal">Save Changes</button>
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
</div>

<br /><br /> <br/> 



             <div class="container">
                 <br /><br /> <br />

                 @*<center><h2>Reversal Module</h2></center>*@
                 <div class="panel panel-default">
                     <div class="panel-heading" style="background-color:  #1C2331">
                         <font color="white"> <h3 class="panel-title"> Reversal Module  </h3></font>
                     </div>

                     <div class="panel-body">

                         <div class="form-inline">
                             <center>
                             <div class="col-sm-1">
                                 <b>Category</b>
                             </div>

                             <div class="col-sm-3">
                                 <select class="form-control" id="cboType" onchange="ChangeBy()">
                                     <option value="Monthly">Monthly</option>
                                     <option value="Yearly">Yearly</option>
                                 </select>
                             </div>
                           
                         

                             <div class="col-sm-1">
                                 <b>Year :</b>
                             </div>

                             <div class="col-sm-3">
                                 <select id="textyear" name="textyear" onchange="ChangeBy()" class="form-control">
                                     <option value="2018">2018</option>
                                 </select>
                             </div>

                             <div class="col-sm-1">
                                 <b>Month :</b>
                             </div>

                             <div class="col-sm-3">
                                 <select id="monthly" onchange="ChangeBy()" class="form-control">
                                     <option value="1">January</option>
                                     <option value="2">February</option>
                                     <option value="3">March</option>
                                     <option value="4">April</option>
                                     <option value="5">May</option>
                                     <option value="6">June</option>
                                     <option value="7">July</option>
                                     <option value="8">August</option>
                                     <option value="9">September</option>
                                     <option value="10">October</option>
                                     <option value="11">November</option>
                                     <option value="12">December</option>
                                 </select>
                             </div>
                             </center>
                         </div>

                         <br/> <br/>
                         <div class="pull-left">
                             @*<div class=" form-inline">*@

                                 <label id="caption" name="caption"></label>

                       
                                 
                                     <div id="btndownload" name="btndownload">
                                     
                                 @*</div>*@
                             </div>
                         </div>

                         <br/> 
                         <div class="pull-right">
                             <div class="btn-group">

                                 <button type="button" class="btn btn-default btn-filter " value="Approved" onclick="Set('@approved')">Approved</button>
                                 <button type="button" class="btn btn-default btn-filter " value="Pending" onclick="Set('@pending')">Pending</button>
                                 <button type="button" class="btn btn-default btn-filter" value="Denied" onclick="Set('@denied')">Denied</button>
                                 <button type="button" class="btn btn-default btn-filter" value="Completed" onclick="Set('@completed')">Completed</button>

                             </div>
                         </div>
                         <br />
                         <br />
                         <br />
                        
                        
                             <div class="table-responsive">
                                 <table class=" table table-bordered table-striped " id="tableReversalList"></table>
                                 </div>
                             </div>
                         </div>
             </div>
<script>
    var global='';

    $(document).ready(function () {


        var date = new Date();
        var year = date.getFullYear();
        for (var i = year; i > 2018; i--) {
            $('#textyear').append('<option value="' + i + '">' + i + '</option>');
        }
        SetP();

    });
    function ChangeBy() {
        if (global == "Pending") {
            SetP();
        }
        else if (global == "Approved") {
            SetA();
        }
        else if (global == "Denied") {
            SetD();
        }
        else {
            SetC();
        }
    }
    function SetP() {
        var s = 'Pending';
        var tp = document.getElementById('cboType').value;
        var textyear = document.getElementById('textyear').value;
        var monthly = document.getElementById('monthly').value;
        global = s;
        document.getElementById('btndownload').innerHTML = "";
        document.getElementById('caption').innerHTML = 'List of ' + s +' Amenity';

        $.ajax({
            type: 'POST',
            url: '/ReversalRecord/GetP',
            data: { "type": tp, "month": monthly, "year": textyear },
			success: function (data) {
				$('#tableReversalList').empty();
                trHTML = '<tr><th>Date</th> <th>Created By</th> <th>Reserved By</th><th>Amenity</th><th>Date of Reservation</th> <th>Amount</th><th>Reason</th><th>Status</th><th>Change Status</th><th>Action</th></tr>';
				$.each(data, function (i, v) {

                    trHTML += '<tr><td>' + v.Date + '</td><td>' + v.CreatedBy + '</td><td>' + v.Fullname + '</td><td>' + v.AmenityName+'</td><td>' + v.DateofReservation + '</td><td> ₱'+ v.Amount.toFixed(2) + '</td><td>' + v.Description + '</td><td>' + v.Status + '</td><td><select id="rstatus" onchange="UpdateStatus(' + v.Id + ')"> <option value="" selected disabled hidden>' + v.Status + '</option></select></td><td><button class="btn btn-default" id="btnUpdateModal" onclick="SetModal(\'' + v.Id + '\',\'' + v.Amount + '\',\'' + v.Description + '\')">Update</button></td></tr>';

				});
				$('#tableReversalList').append(trHTML);
				trHTML = '';

			},
			error: function (error) {
				alert('Failed to retrieve record');
			}
		});
	}
    function SetA() {
        var s = 'Approved';
        var tp = document.getElementById('cboType').value;
        var textyear = document.getElementById('textyear').value;
        var monthly = document.getElementById('monthly').value;
        global = s;
        document.getElementById('btndownload').innerHTML = "";
		$.ajax({
			type: 'POST',
            url: '/ReversalRecord/GetA',
            data: { "type": tp, "month": monthly, "year": textyear },
			success: function (data) {
				$('#tableReversalList').empty();
                trHTML = '<tr><th>Date</th> <th>Created By</th> <th>Reserved By</th><th>Amenity</th> <th>Date of Reservation</th> <th>Amount</th><th>Reason</th><th>Status</th><th>Change Status</th><th>Action</th></tr>';
				$.each(data, function (i, v) {
                    trHTML += '<tr><td>' + v.Date + '</td><td>' + v.CreatedBy + '</td><td>' + v.Fullname + '</td><td>' + v.AmenityName +'</td><td>' + v.DateofReservation + '</td><td> ₱' + v.Amount.toFixed(2) + '</td><td>' + v.Description + '</td><td>' + v.Status + '</td><td><select id="rstatus" onchange="UpdateStatus(' + v.Id + ')"> <option value="" selected disabled hidden>' + v.Status + '</option><option>Completed</option></select></td><td><button class="btn btn-default" id="btnUpdateModal" onclick="SetModal(\'' + v.Id + '\',\'' + v.Amount + '\',\'' + v.Description + '\')">Update</button></td></tr>';

				});
				$('#tableReversalList').append(trHTML);
				trHTML = '';

			},
			error: function (error) {
				alert('Failed to retrieve record');
			}
		});
	}
    function SetC() {
        var s = 'Completed';
        var tp = document.getElementById('cboType').value;
        var textyear = document.getElementById('textyear').value;
        var monthly = document.getElementById('monthly').value;
        global = s;
        document.getElementById('btndownload').innerHTML = "";
		$.ajax({
			type: 'POST',
            url: '/ReversalRecord/GetC',
            data: { "type": tp, "month": monthly, "year": textyear },
			success: function (data) {
				$('#tableReversalList').empty();
                trHTML = '<tr><th>Date</th> <th>Created By</th> <th>Reserved By</th><th>Amenity</th> <th>Date of Reservation</th> <th>Amount</th><th>Reason</th><th>Status</th><th>Change Status</th><th>Action</th></tr>';
				$.each(data, function (i, v) {
                    trHTML += '<tr><td>' + v.Date + '</td><td>' + v.CreatedBy + '</td><td>' + v.Fullname + '</td><td>' + v.AmenityName +'</td><td>' + v.DateofReservation + '</td><td> ₱' + v.Amount.toFixed(2) + '</td><td>' + v.Description + '</td><td>' + v.Status + '</td><td><select id="rstatus" onchange="UpdateStatus(' + v.Id + ')"> <option value="" selected disabled hidden>' + v.Status + '</option><option>Completed</option></select></td><td><button class="btn btn-default" id="btnUpdateModal" onclick="SetModal(\'' + v.Id + '\',\'' + v.Amount + '\',\'' + v.Description + '\')">Update</button></td></tr>';

				});
				$('#tableReversalList').append(trHTML);
                trHTML = '';
                $('#btndownload').append('<a class="btn btn-default" id="btndownload" href="@Url.Action("Download","ReversalRecord")">Download</a>');
			},
			error: function (error) {
				alert('Failed to retrieve record');
			}
		});
	}
    function SetD() {
        var s = 'Denied';
        var tp = document.getElementById('cboType').value;
        var textyear = document.getElementById('textyear').value;
        var monthly = document.getElementById('monthly').value;
        global = s;
        document.getElementById('btndownload').innerHTML = "";

		$.ajax({
			type: 'POST',
            url: '/ReversalRecord/GetD',
            data: { "type": tp, "month": monthly, "year": textyear },
			success: function (data) {
				$('#tableReversalList').empty();
                trHTML = '<tr><th>Date</th> <th>Created By</th> <th>Reserved By</th><th>Amenity</th> <th>Date of Reservation</th> <th>Amount</th><th>Reason</th><th>Status</th><th>Change Status</th><th>Action</th></tr>';
				$.each(data, function (i, v) {
                    trHTML += '<tr><td>' + v.Date + '</td><td>' + v.CreatedBy + '</td><td>' + v.Fullname + '</td><td>' + v.AmenityName +'</td><td>' + v.DateofReservation + '</td><td> ₱' + v.Amount.toFixed(2) + '</td><td>' + v.Description + '</td><td>' + v.Status + '</td><td><select id="rstatus" onchange="UpdateStatus(' + v.Id + ')"> <option value="" selected disabled hidden>' + v.Status + '</option></select></td><td><button class="btn btn-default" id="btnUpdateModal" onclick="SetModal(\'' + v.Id + '\',\'' + v.Amount + '\',\'' + v.Description + '\')">Update</button></td></tr>';

				});
				$('#tableReversalList').append(trHTML);
				trHTML = '';

			},
			error: function (error) {
				alert('Failed to retrieve record');
			}
		});
	}
	//function Set(select) {
	//    //var select = document.getElementById('select').value;
	//    if (select == 'Pending') {
	//        SetP();
	//    }
	//    else if (select == 'Approved') {
	//        SetA();
	//    }
	//    else if (select == 'Denied') {

	//        SetD();
	//    }
	//}
	function SetModal(Id, Amount, Description) {
		$('#updateModal').modal();
		document.getElementById('amount').value = Amount;
		document.getElementById('description').value = Description;
		document.getElementById('txtid').value = Id;
	}

	function Update() {
		
		if (confirm('Are you sure?')) {
			var desc = document.getElementById('description').value;
			var amt = document.getElementById('amount').value;
			var id = document.getElementById('txtid').value;
			var data = {
				Description: desc,
				Amount: amt,
				Id: id
			}

			$.ajax({
				type: 'POST',
				url: '/ReversalRecord/Update',
				data: data,
				success: function (data) {
					alert('Success');
					window.location.reload();

				},
				error: function (data) {
					alert('Failed');
				}



			});
		}
	}
	function UpdateStatus(id) {
		
		if (confirm('Are you sure?')) {
			var status = document.getElementById('rstatus').value;
			var data = {
				Id: id,
				Status: status
			};
			$.ajax({
				type: 'POST',
				url: '/ReversalRecord/UpdateStatus',
				data: data,
				success: function (data) {
					window.location.reload();
				},
				error: function (data) {
					alert('failed');
				}

			});
		}
	}
	function Set(s) {
		//var s = document.getElementById('select').value;
        document.getElementById('caption').innerHTML = 'List of ' + s + ' Amenity';
		if (s == 'Pending') {
			SetP();
		}
		else if (s == 'Approved') {
			SetA();
		}
		else if (s == 'Denied') {
			SetD();
		}
		else {
			SetC();
		}
	}
</script>



