
@{
    ViewBag.Title = "Records";
    Layout = "~/Views/Layout/BossManagerLayout.cshtml";
}
<script>
    $(document).ready(function () {
        $('#maincontent').empty();
        $('#maincontent1').empty();
        $('#containerChart').empty();
        
    });</script>

<div id="content1">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

	<div class="container">
		<div class="modal fade" id="myModal" role="dialog">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal">&times;</button>
						<h4 class="modal-title"><span id="eventTitle"></span></h4>
					</div>
					<div class="modal-body">
						<input type="hidden" name="rid" id="rid" />
						<input type="hidden" name="rfid" id="rfid" />
						<p id="pDetails"></p>
						<br /><br />
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
					</div>
				</div>
			</div>
		</div>
	</div>
	<br /><br />
	<center><h2>Reversal List</h2></center>
	<br />
	<center>
		<b>Sort by:</b><select class="form-control" id="select" onchange="Set()">
			<option value="Pending">Pending</option>
			<option value="Approved">Approved</option>
			<option value="Denied">Denied</option>
			<option value="Completed">Completed</option>
		</select>
	</center>
	<br />
	<br />
	<div class="container">
		<table class="table table-bordered table-striped" id="tableReversalList"></table>

	</div>
</div>
    @section scripts{
        <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.18.1/moment.min.js"></script>
        <script>
            $(document).ready(SetP());
            $(document).ready(function () {
                var content1 = document.getElementById('content1');
                $('#maincontent1').append(content1);

            });
            function SetP() {

                $.ajax({
                    type: 'POST',
                    url: '/ReversalRecord/GetP',
                    success: function (data) {
                        $('#tableReversalList').empty();
                        trHTML = '<tr><th>Date</th> <th>Created By</th> <th>Reserved By</th> <th>Date of Reservation</th> <th>Amount</th><th>Description</th><th>Status</th><th>Change Status</th></tr>';
                        $.each(data, function (i, v) {

                            trHTML += '<tr><td>' + v.Date + '</td><td>' + v.CreatedBy + '</td><td>' + v.Fullname + '</td><td>' + v.DateofReservation + '</td><td>' + v.Amount + '</td><td>' + v.Description + '</td><td>' + v.Status + '</td><td><select id="rstatus" onchange="UpdateStatus(' + v.Id + ')"> <option value="" selected disabled hidden>' + v.Status + '</option><option>Approved</option><option>Denied</option></select></td><td><button class="btn btn-default" id="btnViewModal" onclick="ViewModal(' + v.RefNo + ')">View Details</button></td></tr>';

                        });
                        $('#tableReversalList').append(trHTML);
                        trHTML = '';

                    },
                    error: function (error) {
                        alert('Failed to retrieve record');
                    }
                });
            }

            function SetA() {

                $.ajax({
                    type: 'POST',
                    url: '/ReversalRecord/GetA',
                    success: function (data) {
                        $('#tableReversalList').empty();
                        trHTML = '<tr><th>Date</th> <th>Created By</th> <th>Reserved By</th> <th>Date of Reservation</th> <th>Amount</th><th>Description</th><th>Status</th><th>Change Status</th></tr>';
                        $.each(data, function (i, v) {

                            trHTML += '<tr><td>' + v.Date + '</td><td>' + v.CreatedBy + '</td><td>' + v.Fullname + '</td><td>' + v.DateofReservation + '</td><td>' + v.Amount + '</td><td>' + v.Description + '</td><td>' + v.Status + '</td><td><select id="rstatus" onchange="UpdateStatus(' + v.Id + ')"> <option value="" selected disabled hidden>' + v.Status + '</option><option>Approved</option><option>Denied</option></select></td><td><button class="btn btn-default" id="btnViewModal" onclick="ViewModal(' + v.RefNo + ')">View Details</button></td></tr>';

                        });
                        $('#tableReversalList').append(trHTML);
                        trHTML = '';

                    },
                    error: function (error) {
                        alert('Failed to retrieve record');
                    }
                });
            }
            function SetD() {

                $.ajax({
                    type: 'POST',
                    url: '/ReversalRecord/GetD',
                    success: function (data) {
                        $('#tableReversalList').empty();
                        trHTML = '<tr><th>Date</th> <th>Created By</th> <th>Reserved By</th> <th>Date of Reservation</th> <th>Amount</th><th>Description</th><th>Status</th><th>Change Status</th></tr>';
                        $.each(data, function (i, v) {

                            trHTML += '<tr><td>' + v.Date + '</td><td>' + v.CreatedBy + '</td><td>' + v.Fullname + '</td><td>' + v.DateofReservation + '</td><td>' + v.Amount + '</td><td>' + v.Description + '</td><td>' + v.Status + '</td><td><select id="rstatus" onchange="UpdateStatus(' + v.Id + ')"> <option value="" selected disabled hidden>' + v.Status + '</option><option>Approved</option><option>Denied</option></select></td><td><button class="btn btn-default" id="btnViewModal" onclick="ViewModal(' + v.RefNo + ')">View Details</button></td></tr>';

                        });
                        $('#tableReversalList').append(trHTML);
                        trHTML = '';

                    },
                    error: function (error) {
                        alert('Failed to retrieve record');
                    }
                });
            }
            function SetC() {

                $.ajax({
                    type: 'POST',
                    url: '/ReversalRecord/GetC',
                    success: function (data) {
                        $('#tableReversalList').empty();
                        trHTML = '<tr><th>Date</th> <th>Created By</th> <th>Reserved By</th> <th>Date of Reservation</th> <th>Amount</th><th>Description</th><th>Status</th><th>Change Status</th></tr>';
                        $.each(data, function (i, v) {

                            trHTML += '<tr><td>' + v.Date + '</td><td>' + v.CreatedBy + '</td><td>' + v.Fullname + '</td><td>' + v.DateofReservation + '</td><td>' + v.Amount + '</td><td>' + v.Description + '</td><td>' + v.Status + '</td><td><select id="rstatus" onchange="UpdateStatus(' + v.Id + ')"> <option value="" selected disabled hidden>' + v.Status + '</option><option>Approved</option><option>Denied</option></select></td><td><button class="btn btn-default" id="btnViewModal" onclick="ViewModal(' + v.RefNo + ')">View Details</button></td></tr>';

                        });
                        $('#tableReversalList').append(trHTML);
                        trHTML = '';

                    },
                    error: function (error) {
                        alert('Failed to retrieve record');
                    }
                });
            }
            function UpdateStatus(id) {
                if (confirm('Are you sure?')) {
                    var status = document.getElementById('rstatus').value;
                    var data = {
                        Id: id,
                        Status: status
                    };
                    $.ajax({
                        type: 'POST',
                        url: '/ReversalRecord/UpdateStatus',
                        data: data,
                        success: function (data) {
                            window.location.reload();
                        },
                        error: function (data) {
                            alert('failed');
                        }

                    });
                }
            }
            function ViewModal(refno) {
                $('#myModal').modal();
                $.ajax({
                    type: "POST",
                    url: "/ReversalRecord/GetModal",
                    data: { 'refno': refno },
                    success: function (Data) {
                        console.log(Data);
                        $.each(Data, function (i, v) {
                            var s = moment(v.StartTime);
                            var st = s.format("DD/MMM/YYYY hh:mm a");
                            var e = moment(v.EndTime);
                            var et = e.format("DD/MMM/YYYY hh:mm a");
                            $('#myModal #eventTitle').html('<b>Amenity Name: </b>' + v.AName);
                            var $description = $('<div/>');
                            $description.append($('<p/>').html('<b>Reserved By: </b>' + v.ReservedBy));
                            $description.append($('<p/>').html('<b>Building No: </b>' + v.BldgNo));
                            $description.append($('<p/>').html('<b>Unit No: </b>' + v.UnitNo));
                            $description.append($('<p/>').html('<b>StartTime: </b>' + st));
                            $description.append($('<p/>').html('<b>EndTime: </b>' + et));
                            $description.append($('<p/>').html('<b>Amenity Cost: </b>' + v.Rate));
                            $description.append($('<p/>').html('<b>Table Cost: </b>' + v.TableCost));
                            $description.append($('<p/>').html('<b>Chair Cost: </b>' + v.ChairCost));
                            $description.append($('<p/>').html('<b>Charge: </b>' + v.Charge));
                            $description.append($('<p/>').html('<b>Total Cost: </b>' + ((v.Rate + v.TableCost + v.ChairCost + v.Charge))));
                            $description.append($('<p/>').html('<b>Reversal Amount: </b>' + (v.Amount)));
                            $description.append($('<p/>').html('<b>Total Payment: </b>' + (v.Total - v.Amount)));
                            $description.append($('<p/>').html('<b>Outstanding Total: </b>' + ((v.Rate + v.TableCost + v.ChairCost + v.Charge) - (v.Total - v.Amount))));
                            $description.append($('<p/>').html('<b>Status: </b>' + v.Status));

                            document.getElementById('rid').value = v.SRId;
                            document.getElementById('rfid').value = v.RFId;
                            $('#myModal #pDetails').empty().html($description);
                        })


                    },
                    error:
                        function (error) {
                            alert('Failed to retrieve the record');
                        }

                });

            }
            function Set() {
                var s = document.getElementById('select').value;
                if (s == 'Pending') {
                    SetP();
                }
                else if (s == 'Approved') {
                    SetA();
                }
                else if (s == 'Denied') {
                    SetD();
                }
                else {
                    SetC();
                }
            }
        </script>
    }
