@model List<BillingList>

@{
    Layout = "~/Views/Layout/LayoutHome.cshtml";
}
<br />
<br />
<br />
<br />
<div class="container">
    <div class="modal fade" id="myModal" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title"><span id="eventTitle"></span></h4>
                </div>
                <div class="modal-body">      
                    <input type="hidden" name="rfid" id="rfid">
                    <div class="container">
                        <div class="row">
                            <div class="col-sm-3">
                                <table class="table table-bordered" width="100" id="rowtotalCost"></table>
                            </div>
                            <div class="col-sm-3">
                                <table class="table table-bordered" width="100" id="rowtotalPayment"></table>
                            </div>
                        </div>

                    </div>


                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-info" id="btnHistory" name="btnHistory" data-dismiss="modal" onclick="ReceiptHistory()">Payment History</button>

                    <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="modal fade" id="PaymentHistory" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                <div class="modal-body">
                    <table class="table table-bordered table-striped" name="tbHistory" id="tbHistory" style="overflow-y:scroll;height:200px;display:block;"></table>
                    <b>Total Payment :</b><label id="txtTotalPayment" name="txtTotalPayment"></label>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" id="btnClosePH" name="btnClosePH" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
</div>

<br />
<div class="container">
    <div class="row">
        <div class="col-lg-6">
            <table class="table table-bordered" width="100">
                <tr><td colspan="2" style="text-align:center; font-size:16px; font-weight:bold; background:#2ba74a; color:#FFF;"><h3>Account Billing</h3></td></tr>
                <tr>
                    <td style="text-align:center; font-size:16px; font-weight:bold;">Outstanding Total :</td>
                    <td style="text-align:center; font-size:16px; font-weight:bold;">₱@ViewBag.Balance</td>
                </tr>
            </table>

        </div>
        <div class="col-lg-6">

        </div>
    </div>
    <br />
 

    <table class="table table-bordered">
        <tr><td colspan="7" style="text-align:center; font-size:16px; font-weight:bold; background:#2ba74a; color:#FFF;"><h4>Billing Information</h4></td></tr>
        <tr>
            <td style="text-align:center; font-size:16px; font-weight:bold;">Reservation Form ID</td>
            <td style="text-align:center; font-size:16px; font-weight:bold;">Date of Reservation</td>
            <td style="text-align:center; font-size:16px; font-weight:bold;">Amenity Reserved</td>
            <td style="text-align:center; font-size:16px; font-weight:bold;">Total Cost</td>
            <td style="text-align:center; font-size:16px; font-weight:bold;">Total Payment</td>
            <td style="text-align:center; font-size:16px; font-weight:bold;">Balance</td>
            <td style="text-align:center; font-size:16px; font-weight:bold;">View</td>
        </tr>
        @foreach (var data in Model)
        {

        <tr>
            <td style="text-align:center; font-size:16px; ">@data.RFID</td>
            <td style="text-align:center; font-size:16px; ">@data.Date</td>
            <td style="text-align:center; font-size:16px;">@data.AmenityName</td>
            <td style="text-align:center; font-size:16px; ">₱@data.TotalRate</td>
            <td style="text-align:center; font-size:16px;">₱@data.TotalPayment</td>
            <td style="text-align:center; font-size:16px; ">₱@data.OutstandingTotal</td>
            <td style="text-align:center; font-size:16px;"><button class="btn btn-default" onclick="Modal(@data.RFID)">View</button></td>
        </tr>
        }


    </table>


</div>




@section scripts{
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.18.1/moment.min.js"></script>

    <script>

        function Modal(rfid) {          
            var data = {
                RFId:rfid
            };
            document.getElementById('rfid').value = rfid;
            $.ajax({
                type: 'POST',
                url: "/Billing/GetEvents",
                data: data,
                success: function (data) {
                    $('#rowtotalCost').empty();
                    var totalc = 0;
                    totalc = data[0].Rate + data[0].ChairCost + data[0].TableCost + data[0].Charge;
                    var trHtml = '<tr><td colspan="2" style="text-align:center; font-size:10px; font-weight:bold; background:#2ba74a; color:#FFF;"><h5>Total Cost</h5></td></tr>';
                    trHtml += '<tr><td style="text-align:center; font-size:10px; font-weight:bold;">Amenity Rate</td><td style ="text-align:center; font-size:10px; font-weight:bold;">₱' + data[0].Rate + '</td ></tr>';

                    trHtml += '<tr><td style="text-align:center; font-size:10px; font-weight:bold;" > Chair Cost</td > <td style="text-align:center; font-size:10px; font-weight:bold;">₱' + data[0].ChairCost + '</td></tr>';                     
                    trHtml += '<tr> <td style="text-align:center; font-size:10px; font-weight:bold;">Table Cost</td> <td style="text-align:center; font-size:10px; font-weight:bold;">₱' + data[0].TableCost + '</td></tr>';
                    trHtml += '<tr> <td style="text-align:center; font-size:10px; font-weight:bold;">Charge</td> <td style="text-align:center; font-size:10px; font-weight:bold;">₱' + data[0].Charge + '</td></tr>';
                    trHtml += '<tr> <td style="text-align:center; font - size: 10px; font - weight: bold;"> </td> <td style="text-align:center; font-size:10px; font-weight:bold;" >₱' + totalc + '</td ></tr>';
    
                    $('#rowtotalCost').append(trHtml);

                    $('#rowtotalPayment').empty();
                    var totalp = 0;
                    totalp = data[0].Total - data[0].Amount;
                    var trHtml1 = '<tr><td colspan="2" style="text-align:center; font-size:10px; font-weight:bold; background:#2ba74a; color:#FFF;"><h5>Total Payment</h5></td></tr>';
                    trHtml1 += '<tr><td style="text-align:center; font-size: 10px; font-weight: bold;">Total Payment</td><td style = "text-align:center; font-size:10px; font-weight:bold;" >₱' + data[0].Total + '</td ></tr>';
                    trHtml1 += '<tr><td style="text-align:center; font-size:10px; font-weight:bold;" >Reversal Amount</td > <td style="text-align:center; font-size:10px; font-weight:bold;">₱' + data[0].Amount + '</td></tr>';                     
                    trHtml1 += '<tr> <td style="text-align:center; font-size: 10px; font-weight: bold;"> </td> <td style="text-align:center; font-size:10px; font-weight:bold;" >₱' + totalp + '</td ></tr>';
                    $('#rowtotalPayment').append(trHtml1);
                        $('#myModal').modal();
    
                    },
                error: function (data) {
                    alert('Failed to retrieve the record');
                }
            });
        }

            //var events = [];
            //$(document).ready(function () {
            //    events = [];
            //    $.ajax({
            //        type: "GET",
            //        url: "/Billing/GetEvents",
            //        success: function (data) {
            //            $.each(data, function (i, v) {
            //                events.push({
            //                    title: v.AName,
            //                    reserved: v.ReservedBy,
            //                    start: moment(v.StartTime),
            //                    end: v.EndTime != null ? moment(v.EndTime) : null,
            //                    rate: v.Rate,
            //                    status: v.Status,
            //                    color: v.Color,
            //                    dp: v.Total,
            //                    cg: v.Charge,
            //                    bn: v.BldgNo,
            //                    un: v.UnitNo,
            //                    r: v.RId,
            //                    rf: v.RFId,
            //                    tc: v.TableCost,
            //                    cc: v.ChairCost,
            //                    amt: v.Amount,
            //                    cq: v.ChairQuantity,
            //                    tq: v.TableQuantity
            //                });
            //            })
            //            GenerateCalendar(events);
            //        },
            //        error: function (error) {
            //            alert('failed');
            //        }
            //    });



            //});

            function ReceiptHistory() {
                var refno = document.getElementById('rfid').value;

                $.ajax({
                    type: "POST",
                    url: "/Billing/ReceiptHistory",
                    dataType: 'json',
                    data: {
                        'refno1': refno
                    },
                    success: function (data) {
                        var totalp = 0;
                        var trHTML = '';
                        format: 'yyyy-mm',


                            $('#tbHistory').empty();
                        trHTML = '<tr><th>Date</th> <th>Payment</th> <th>Description</th> <th>Created By</th></tr>';
                        $.each(data, function (i, v) {
                            trHTML += '<tr><td>' + moment(v.Date).format("DD/MMM/YYYY hh:mm a") + '</td><td>' + v.Totalpayment + '</td><td>' + v.Description + '</td><td>' + v.CreatedBy + '</td><td><button class="btn btn-success">Print</button></td></tr>';
                            totalp += v.Totalpayment;
                        });
                        $('#tbHistory').append(trHTML);
                        document.getElementById('txtTotalPayment').innerHTML = totalp;
                        trHTML = '';
                    },
                    error: function (error) {
                        alert('Failed to retrieve the record');
                    }
                });
            }

            $('#btnHistory').click(function () {

                $('#PaymentHistory').modal();

            });
        $('#btnClosePH').click(function () {

                $('#myModal').modal();
            }
            );
    </script>
}