
@{
    Layout = "~/Views/Layout/BossManagerLayout.cshtml";
}

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">


</head>

<br />
<br />


<div id="content1">
    <br />
    <br />
    <div class="container">
        <div class="modal fade" id="myModal" role="dialog">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header" style="background-color:#43a047">

                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title"><span id="eventTitle"></span></h4>

                    </div>
                    <div class="modal-body">
                        <input type="hidden" name="rid" id="rid" />
                        <input type="hidden" name="rfid" id="rfid" />
                        <p id="pDetails"></p>
                        <br /><br />
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <br /><br /> <br />



    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-heading" style="background-color:  #1C2331">
                <font color="white"> <h2 class="panel-title"> Reservation with Outstanding Balance</h2></font>
            </div>


            @*<center><h2>Reservation with Outstanding Balance</h2></center>*@
            <br />
            <div class="col-md-1">
                <b><h5>Search </h5></b>
            </div>
            <div class="col-md-4">
                <input type="date" id="txtdate" name="txtdate" class="form-control" style="display:none;" />
                <input type="search" id="txtsearch" name="txtsearch" class="form-control" onkeyup="Setfield()" />
            </div>
            <div class="col-md-1">
                <b><h5>Category </h5></b>
            </div>
            <div class="col-md-4">
                <select class="form-control" id="category" onchange="Setfield()">
                    <option value="0">By Amenity</option>
                    <option value="1">By Date</option>
                    <option value="2">By Owner</option>

                </select>
            </div>
            <div class="col-md-2">
                <button class="btn btn-success" onclick="Search();">Search</button>
            </div>


            <br /> <br /> <br />
            <div id="Download"></div>
            <div class="pull-right"><button class="btn btn-success" onclick="NotifyAll()">Notify All</button></div>

            <br /><br />
            <table id="tbReservationList" name="tbReservationList" class="table table-bordered table-striped"></table>
        </div>
    </div>
</div>

@section scripts{
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.18.1/moment.min.js"></script>

    <script>
        var l = 3;
        var se = 'none';

        $(document).ready(GetO());
        $(document).ready(function () {
            var content1 = document.getElementById('content1');
            $('#maincontent1').append(content1);

        });
		function Notify(outstanding, Id, refno,type) {

			var data = {
                refno: refno,
                Rate: outstanding,
				OwnerId: Id,
                typer: type,
                type:'Outstanding'
			}
			$.ajax({
				type: 'post',
				url: '/ReservationRecord/InsertNotif',
				data: data,
				success: function (data) {
					alert("You have successfully notify the user");
				},
				error: function (data) {

				}
			});
		}

        function NotifyAll() {
            $.ajax({
                type: 'post',
                url: '/ReservationRecord/InsertNotifAll',
                success: function (data) {
                    if (data == true) {
                        alert("You have successfully notify all the user");
                    }
                    else {
                        alert("Something went wrong. Please try again.");
                    }
                },
            });
        }
		function GetO() {
            $('#tbReservationList').empty();
            $('#Download').empty();
            var hrtml = '<a href="@Url.Action("Download", "ReservationRecord")?Level=' + l + '&Search=' + se + '" class="btn btn-default">Download</a>';
            $('#Download').append(hrtml);
			$.ajax({
				type: "POST",
				url: "/ReservationRecord/GetEvents",
				dataType: 'json',
				success: function (Data) {
					var trHTML = '';
					var name = '';
                    var ob = 0;
                    var ob1 = 0;
                    var ob2 = 0;
                    var list = [];
                    var cref = 0;
                    var data1 = Data.Data.Reservation;
                    var data2 = Data.Data.Equipment;
					trHTML = '<tr><th>Name</th> <th>Date of Reservation</th> <th>Reserved Amenity</th> <th>Outstanding Balance</th> <th>View</th></tr>';

                    $.each(data1, function (i, v) {
                        var tob = v.Outstanding;

                        if (tob == 0) {
                            if (v.TypeResident == "Owner") {

                                name = v.oFname + ' ' + v.oMname + ' ' + v.oLname;
                                trHTML += '<tr><td>' + name + '</td><td>' + v.Date + '</td><td>' + v.AmenityName + '</td><td>₱' + tob.toFixed(2) + '</td><td><button class="btn btn-primary" name="btnView" id="btnView" onclick=" toModal(' + v.Refno + ')">View Details</button></td></tr>';
                            }
                            else {
                                name = v.tFname + ' ' + v.tMname + ' ' + v.tLname;
                                trHTML += '<tr><td>' + name + '</td><td>' + v.Date + '</td><td>' + v.AmenityName + '</td><td>₱' + tob.toFixed(2) + '</td><td><button class="btn btn-primary" name="btnView" id="btnView" onclick=" toModal(' + v.Refno + ')">View Details</button></td></tr>';
                            }
                        }
                        else {
                            if (v.TypeResident == "Owner") {
                                name = v.oFname + ' ' + v.oMname + ' ' + v.oLname;
                                trHTML += '<tr><td>' + name + '</td><td>' + v.Date + '</td><td>' + v.AmenityName + '</td><td>₱' + tob.toFixed(2) + '</td><td><button class="btn btn-primary" name="btnView" id="btnView" onclick=" toModal(' + v.Refno + ')">View Details</button> &nbsp;&nbsp;<button class="btn btn-success" onclick="Notify(' + tob + ',' + v.OwnerId + ',' + v.Refno + ',\'' + v.TypeResident + '\')">Notify</button></td></tr>';
                            }
                            else {
                                name = v.tFname + ' ' + v.tMname + ' ' + v.tLname;
                                trHTML += '<tr><td>' + name + '</td><td>' + v.Date + '</td><td>' + v.AmenityName + '</td><td>₱' + tob.toFixed(2) + '</td><td><button class="btn btn-primary" name="btnView" id="btnView" onclick=" toModal(' + v.Refno + ')">View Details</button> &nbsp;&nbsp;<button class="btn btn-success" onclick="Notify(' + tob + ',' + v.TenantId + ',' + v.Refno + ',\'' + v.TypeResident + '\')">Notify</button></td></tr>';

                            }
                        }
					});
					$('#tbReservationList').append(trHTML);
				},
				error: function (error) {
					alert('Failed to retrieve the record');
				}
			});
		}
		function GetD() {
            $('#tbReservationList').empty();
             $('#Download').empty();
            var hrtml = '<a href="@Url.Action("Download", "ReservationRecord")?Level=' + l + '&Search=' + se + '" class="btn btn-default">Download</a>';
            $('#Download').append(hrtml);
			$.ajax({
				type: "POST",
				url: "/ReservationRecord/GetD",
				dataType: 'json',
				success: function (Data) {
                    var trHTML = '';
                    var name = '';
                    var ob = 0;
                    var ob1 = 0;
                    var ob2 = 0;
                    var list = [];
                    var cref = 0;
                    var data1 = Data.Data.Reservation;
                    var data2 = Data.Data.Equipment;
                    trHTML = '<tr><th>Name</th> <th>Date of Reservation</th> <th>Reserved Amenity</th> <th>Outstanding Balance</th> <th>View</th></tr>';

                    $.each(data1, function (i, v) {
                        var tob = v.Outstanding;
                        if (tob == 0) {
                            if (v.TypeResident == "Owner") {

                                name = v.oFname + ' ' + v.oMname + ' ' + v.oLname;
                                trHTML += '<tr><td>' + name + '</td><td>' + v.Date + '</td><td>' + v.AmenityName + '</td><td>₱' + tob.toFixed(2)+ '</td><td><button class="btn btn-primary" name="btnView" id="btnView" onclick=" toModal(' + v.Refno + ')">View Details</button></td></tr>';
                            }
                            else {
                                name = v.tFname + ' ' + v.tMname + ' ' + v.tLname;
                                trHTML += '<tr><td>' + name + '</td><td>' + v.Date + '</td><td>' + v.AmenityName + '</td><td>₱' + tob.toFixed(2) + '</td><td><button class="btn btn-primary" name="btnView" id="btnView" onclick=" toModal(' + v.Refno + ')">View Details</button></td></tr>';
                            }
                        }
                        else {
                            if (v.TypeResident == "Owner") {
                                name = v.oFname + ' ' + v.oMname + ' ' + v.oLname;
                                trHTML += '<tr><td>' + name + '</td><td>' + v.Date + '</td><td>' + v.AmenityName + '</td><td>₱' + tob.toFixed(2) + '</td><td><button class="btn btn-primary" name="btnView" id="btnView" onclick=" toModal(' + v.Refno + ')">View Details</button> &nbsp;&nbsp;<button class="btn btn-success" onclick="Notify(' + tob + ',' + v.OwnerId + ',' + v.Refno +',\'' + v.TypeResident + '\')">Notify</button></td></tr>';
                            }
                            else {
                                name = v.tFname + ' ' + v.tMname + ' ' + v.tLname;
                                trHTML += '<tr><td>' + name + '</td><td>' + v.Date + '</td><td>' + v.AmenityName + '</td><td>₱' + tob.toFixed(2) + '</td><td><button class="btn btn-primary" name="btnView" id="btnView" onclick=" toModal(' + v.Refno + ')">View Details</button> &nbsp;&nbsp;<button class="btn btn-success" onclick="Notify(' + tob + ',' + v.TenantId + ',' + v.Refno + ',\'' + v.TypeResident + '\')">Notify</button></td></tr>';

                            }
                        }
                    });
                    $('#tbReservationList').append(trHTML);
				},
				error: function (error) {
					alert('Failed to retrieve the record');
				}
			});
		}
        function GetBy(level, search) {
            l = level;
            se = search;
			var data = level;
			var s = search;
            $('#tbReservationList').empty();
             $('#Download').empty();
            var hrtml = '<a href="@Url.Action("Download", "ReservationRecord")?Level=' + l + '&Search=' + se + '" class="btn btn-default">Download</a>';
            $('#Download').append(hrtml);
			$.ajax({
				type: "POST",
				url: "/ReservationRecord/Get",
				dataType: 'json',
				data: { 'Level': data, 'Search': s },
				success: function (Data) {
                    var trHTML = '';
                    var name = '';
                    var ob = 0;
                    var ob1 = 0;
                    var ob2 = 0;
                    var list = [];
                    var cref = 0;
                    var data1 = Data.Data.Reservation;
                    trHTML = '<tr><th>Name</th> <th>Date of Reservation</th> <th>Reserved Amenity</th> <th>Outstanding Balance</th> <th>View</th></tr>';
                    $.each(data1, function (i, v) {
                        var tob = v.Outstanding;
                        if (tob == 0) {
                            if (v.TypeResident == "Owner") {

                                name = v.oFname + ' ' + v.oMname + ' ' + v.oLname;
                                trHTML += '<tr><td>' + name + '</td><td>' + v.Date + '</td><td>' + v.AmenityName + '</td><td>₱' + tob.toFixed(2) + '</td><td><button class="btn btn-primary" name="btnView" id="btnView" onclick=" toModal(' + v.Refno + ')">View Details</button></td></tr>';
                            }
                            else {
                                name = v.tFname + ' ' + v.tMname + ' ' + v.tLname;
                                trHTML += '<tr><td>' + name + '</td><td>' + v.Date + '</td><td>' + v.AmenityName + '</td><td> ₱' + tob.toFixed(2) + '</td><td><button class="btn btn-primary" name="btnView" id="btnView" onclick=" toModal(' + v.Refno + ')">View Details</button></td></tr>';
                            }
                        }
                        else {
                            if (v.TypeResident == "Owner") {
                                name = v.oFname + ' ' + v.oMname + ' ' + v.oLname;
                                trHTML += '<tr><td>' + name + '</td><td>' + v.Date + '</td><td>' + v.AmenityName + '</td><td>₱' + tob.toFixed(2) + '</td><td><button class="btn btn-primary" name="btnView" id="btnView" onclick=" toModal(' + v.Refno + ')">View Details</button> &nbsp;&nbsp;<button class="btn btn-success" onclick="Notify(' + tob + ',' + v.OwnerId + ',' + v.Refno +',\'' + v.TypeResident + '\')">Notify</button></td></tr>';
                            }
                            else {
                                name = v.tFname + ' ' + v.tMname + ' ' + v.tLname;
                                trHTML += '<tr><td>' + name + '</td><td>' + v.Date + '</td><td>' + v.AmenityName + '</td><td>₱' + tob.toFixed(2) + '</td><td><button class="btn btn-primary" name="btnView" id="btnView" onclick=" toModal(' + v.Refno + ')">View Details</button> &nbsp;&nbsp;<button class="btn btn-success" onclick="Notify(' + tob + ',' + v.TenantId + ',' + v.Refno + ',\'' + v.TypeResident + '\')">Notify</button></td></tr>';

                            }
                        }
                    });
                    $('#tbReservationList').append(trHTML);
				},
				error: function (error) {
					alert('Failed to retrieve the record');
				}
			});
		}

		function Search() {
			var value = document.getElementById('txtsearch').value;
			var cat = document.getElementById('category').value;
			if (cat == 0) {
				if ($.type(value) === "string") {
					GetBy(cat, value);
				}
				else {
					alert("Wrong Input");
				}
			}
			else if (cat == 1) {
				if (value == '') {
					value = ' ';
					value = document.getElementById('txtdate').value;
					GetBy(cat, value);
				}
				else {
					value = document.getElementById('txtdate').value;
					GetBy(cat, value);
				}
			}
			else if (cat == 2) {
				if (typeof value == 'string') {
					GetBy(cat, value);
				}
				else {
					alert("Wrong Input");
				}
			}
			//else if (cat == 3) {
			//	if (typeof value == 'string') {
			//		GetBy(cat, value);
			//	}
			//	else {
			//		alert("Wrong Input");
			//	}
			//}

		}

		function ToJavaScriptDate(value) {
			var pattern = /Date\(([^)]+)\)/;
			var results = pattern.exec(value);
			var dt = new Date(parseFloat(results[1]));
			return (dt.getMonth() + 1) + "/" + dt.getDate() + "/" + dt.getFullYear() + "-" + dt.getHours() + ":" + dt.getMinutes();
		}

		function toModal(refno) {
			$('#myModal').modal();
			$.ajax({
				type: "POST",
				url: "/ReservationRecord/GetModal",
				data: { 'refno': refno },
                success: function (Data) {
                    var data1 = Data.Data.Reservation;
                    var data2 = Data.Data.Equipment;
                    var data3 = Data.Data.Swimming
                    var tots = 0;
                    var mule = 0;
                    var stots = 0;
                    var ftotal = 0;

					$.each(data1, function (i, v) {
						var s = moment(v.StartTime);
						var st = s.format("DD/MMM/YYYY hh:mm a");
						var e = moment(v.EndTime);
                        var et = e.format("DD/MMM/YYYY hh:mm a");
                        $('#myModal #eventTitle').html('<b>Reference Number: </b>' + refno);
						var $description = $('<div/>');
						$description.append($('<p/>').html('<b>Reserved By: </b>' + v.ReservedBy));
						$description.append($('<p/>').html('<b>Building No: </b>' + v.BldgNo));
						$description.append($('<p/>').html('<b>Unit No: </b>' + v.UnitNo));
						$description.append($('<p/>').html('<b>StartTime: </b>' + st));
                        $description.append($('<p/>').html('<b>EndTime: </b>' + et));
                        $.each(data3, function (i, s) {

                            $description.append($('<p/>').html('<b>No. of Adult: </b>' + s.Adult + '&nbsp;&nbsp;&nbsp; <b>Adult Rate: <b/> ₱' + s.AdultRate.toFixed(2)));
                            $description.append($('<p/>').html('<b>Adult Cost: </b> ₱' + (s.Adult * s.AdultRate).toFixed(2)));
                            $description.append($('<p/>').html('<b>No. of Children: </b>' + s.Child + '&nbsp;&nbsp;&nbsp; <b>Child Rate: <b/> ₱' + s.ChildRate.toFixed(2)));
                            $description.append($('<p/>').html('<b> Child Cost: </b> ₱' + (s.Child * s.ChildRate).toFixed(2)));
                        })


                        $description.append($('<p/>').html('<b>Amenity Cost: </b> ₱' + v.Rate.toFixed(2)));
                        $.each(data2, function (i, c) {
                            mule = c.Quantity * c.Rate;
                            $description.append($('<p/>').html('<b>' + c.EquipmentName + ' Quantity: </b>' + c.Quantity + '&nbsp;&nbsp;&nbsp; <b>' + c.EquipmentName + ' Rate: <b/> ₱' + c.Rate.toFixed(2)));
                            $description.append($('<p/>').html('<b>' + c.EquipmentName + ' Cost: </b> ₱' + mule.toFixed(2)));
                            tots += mule ;
                        });
                        if (tots > 0) {
                            $description.append($('<p/>').html('<b>Equipment Cost: </b> ₱' + tots.toFixed(2)));
                        }
                        $description.append($('<p/>').html('<b>Charge: </b> ₱' + v.Charge));
                        $description.append($('<p/>').html('<b>Total Cost: </b> ₱' + ((v.Rate + tots + v.Charge).toFixed(2))));
                        $description.append($('<p/>').html('<b>Reversal Amount: </b> ₱' + (v.Amount).toFixed(2)));
                        $description.append($('<p/>').html('<b>Total Payment: </b>₱' + (v.Total).toFixed(2)));
                        $description.append($('<p/>').html('<b>Outstanding Total: </b> ₱' + ((v.Rate + tots + v.Charge) - (v.Total)).toFixed(2)));
						$description.append($('<p/>').html('<b>Status: </b>' + v.Status));

						document.getElementById('rid').value = v.SRId;
						document.getElementById('rfid').value = v.RFId;
						$('#myModal #pDetails').empty().html($description);
					})


				},
				error:
					function (error) {
						alert('Failed to retrieve the record');
					}

			});
		}
		function Setfield() {
			var s = document.getElementById('category').value;
			if (s == 1) {
				document.getElementById('txtsearch').value = '';
				$('#txtsearch').hide();
				$('#txtdate').show();
			}
			else {
				document.getElementById('txtdate').value = '';
				$('#txtsearch').show();
				$('#txtdate').hide();
			}

		}
    </script>
}
