﻿@{

    Layout = " ";
    if (Convert.ToInt32(Session["Level"]) == 0)
    {
        Layout = "/Views/Layout/AdminLayout.cshtml";
    }
    else if (Convert.ToInt32(Session["Level"]) == 1)
    {
        Layout = "/Views/Layout/BossManagerLayout.cshtml";
    }



}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    @*<title>@ViewBag.Title - My ASP.NET Application</title>*@
    
    <script src="https://use.fontawesome.com/07b0ce5d10.js"></script>
    <link href="css/bootstrap.css" rel="stylesheet" type="text/css">
    <link href="css/font-awesome.css" rel="stylesheet" type="text/css">
    <link href="css/style.css" rel="stylesheet" type="text/css">
    
    
    <style>

        
        .modal-backdrop {
            display: none;
        }


        @@media (min-width: 768px) {
            .circle-tile {
                margin-bottom: 30px;
            }
        }

        .circle-tile {
            margin-bottom: 15px;
            text-align: center;
        }

        .circle-tile-heading {
            position: relative;
            width: 80px;
            height: 80px;
            margin: 0 auto -40px;
            border: 3px solid rgba(255,255,255,0.3);
            border-radius: 100%;
            color: #fff;
            transition: all ease-in-out .3s;
        }

      

        .dark-blue {
            background-color: #34495e;
        }

        .green {
            background-color: #16a085;
        }

        .blue {
            background-color: #2980b9;
        }

        .orange {
            background-color: #f39c12;
        }

        .red {
            background-color: #e74c3c;
        }

        .purple {
            background-color: #8e44ad;
        }

        .dark-gray {
            background-color: #7f8c8d;
        }

        .gray {
            background-color: #95a5a6;
        }

        .light-gray {
            background-color: #bdc3c7;
        }

        .yellow {
            background-color: #f1c40f;
        }

   

        .text-dark-blue {
            color: #34495e;
        }

        .text-green {
            color: #16a085;
        }

        .text-blue {
            color: #2980b9;
        }

        .text-orange {
            color: #f39c12;
        }

        .text-red {
            color: #e74c3c;
        }

        .text-purple {
            color: #8e44ad;
        }

        .text-faded {
            color: rgba(255,255,255,0.7);
        }



        .circle-tile-heading .fa {
            line-height: 80px;
        }

        .circle-tile-content {
            padding-top: 50px;
        }

        .circle-tile-description {
            text-transform: uppercase;
        }

        .text-faded {
            color: rgba(255,255,255,0.7);
        }

        .circle-tile-number {
            padding: 5px 0 15px;
            font-size: 26px;
            font-weight: 700;
            line-height: 1;
        }

        .circle-tile-footer {
            display: block;
            padding: 5px;
            color: rgba(255,255,255,0.5);
            background-color: rgba(0,0,0,0.1);
            transition: all ease-in-out .3s;
        }

            .circle-tile-footer:hover {
                text-decoration: none;
                color: rgba(255,255,255,0.5);
                background-color: rgba(0,0,0,0.2);
            }


      

        #datetime {
            color: #fff;
        }

        .tile-img {
            text-shadow: 2px 2px 3px rgba(0,0,0,0.9);
        }

        .tile {
            margin-bottom: 15px;
            padding: 15px;
            overflow: hidden;
            color: #fff;
        }



            .navbar-default {
                color: #C0C0C0;
            }
        
    </style>
</head>
<body>

    <br />
    <br />
    <br />
    @*<center>*@
    @*<div class="container">*@

    <div class="row">
        @*<div class="col-lg-2">
            </div>*@
        <div class="col-lg-12">
            @*<center>*@
            <div id="maincontent">
                <br />


                @*<div class="col-lg-10 square">*@

                <br />



                <div class="col-md-12">
                    <div class="panel panel-default">
                        <div class="panel-heading" style="background-color:  #1C2331">
                            <font color="white"> <h3 class="panel-title"> Registration Overview </h3></font>
                        
                         
                        </div>

                   <div class="col-xs-12"></div>

                        <!--Employee-->

                        <div class="col-lg-3">
                            <div class="circle-tile">
                                <a href="#" onclick="ShowAdmin()">
                                    <div class="circle-tile-heading dark-blue">
                                        <i class="fa fa-users fa-fw fa-3x"></i>
                                    </div>
                                </a>
                                <div class="circle-tile-content dark-blue">
                                    <div class="circle-tile-description text-faded">
                                        Employees
                                    </div>
                                    <div class="circle-tile-number text-faded" id="AdminCount">

                                        <span id="sparklineA"></span>
                                    </div>
                                    <a href="/Admin/AdminView" class="circle-tile-footer">View Details <i class="fa fa-chevron-circle-right"></i></a>
                                </div>
                            </div>
                        </div>


                        <!--Owner-->
                        <div class="col-lg-3">
                            <div class="circle-tile">
                                <a href="#" onclick="ShowOwner()">
                                    <div class="circle-tile-heading green">
                                        <i class="fa fa-id-card fa-fw fa-3x"></i>
                                    </div>
                                </a>
                                <div class="circle-tile-content green">
                                    <div class="circle-tile-description text-faded">
                                        Owners
                                    </div>
                                    <div class="circle-tile-number text-faded" id="OwnerCount">

                                    </div>
                                    <a href="/Owner/OwnerView" class="circle-tile-footer">View Details <i class="fa fa-chevron-circle-right"></i></a>
                                </div>
                            </div>
                        </div>


                        <!--Tenant-->
                        <div class="col-lg-3">
                            <div class="circle-tile">
                                <a href="#" onclick="ShowTenant()">
                                    <div class="circle-tile-heading orange">
                                        <i class="fa fa-id-card-o fa-fw fa-3x"></i>
                                    </div>
                                </a>
                                <div class="circle-tile-content orange">
                                    <div class="circle-tile-description text-faded">
                                        Tenants
                                    </div>
                                    <div class="circle-tile-number text-faded" id="TenantCount">

                                    </div>
                                    <a href="/Tenant/TenantView" class="circle-tile-footer">View Details <i class="fa fa-chevron-circle-right"></i></a>
                                </div>
                            </div>
                        </div>


                        <!--Amenity List-->
                        <div class="col-lg-3">
                            <div class="circle-tile">
                                <a href="#" onclick="ShowAmenity()">
                                    <div class="circle-tile-heading purple">
                                        <i class="fa fa-building-o fa-fw fa-3x"></i>
                                    </div>
                                </a>
                                <div class="circle-tile-content purple">
                                    <div class="circle-tile-description text-faded">
                                        Amenities
                                    </div>
                                    <div class="circle-tile-number text-faded" id="AmenityCount">

                                        <span id="sparklineD"></span>
                                    </div>
                                    <a href="/Amenity/AmenityView" class="circle-tile-footer">View Details <i class="fa fa-chevron-circle-right"></i></a>
                                </div>
                            </div>
                        </div>


                    </div>
                </div>


                @*</div>*@
            </div>
            @*</center>*@
        </div>
        @*<div class="col-lg-1">
            </div>*@
    </div>


    @*//// ETO CHART NG YEAR ////*@


    <div class="row">
        <div class="col-lg-12">
            <div id="containerChart">

                <center>
                    <div class="col-lg-12">
                        <div class="panel panel-default">
                            <div class="panel-heading" style="background-color:  #1C2331">
                                <font color="white"> <h3 class="panel-title"> Usage of Amenities Overview </h3></font>
                            </div>







                            <div class="col-lg-4">
                                <center>
                                    <b>Year :</b>
                                    <select class="form-control" id="textyear" style="text-align:center;" name="textyear" onchange="Change()">
                                        <option value="2018">2018</option>
                                    </select>
                                 
                                    <div class="col-lg-4">
                                        <div id="chartContainerYear"></div>
                                    </div>
                                </center>
                            </div>




                            <div class="col-lg-4">

                                <center>
                                    <b>Month :</b> <select class="form-control" style="text-align:center;" id="month" name="month" onchange="ValueChange()">
                                        <option value="1">January</option>
                                        <option value="2">February</option>
                                        <option value="3">March</option>
                                        <option value="4">April</option>
                                        <option value="5">May</option>
                                        <option value="6">June</option>
                                        <option value="7">July</option>
                                        <option value="8">August</option>
                                        <option value="9">September</option>
                                        <option value="10">October</option>
                                        <option value="11">November</option>
                                        <option value="12">December</option>
                                    </select>
                                </center>
                                <br />

                                <div class="col-lg-4">
                                    <div id="chartContainer1"></div>
                                </div>



                            </div>






                            @*//// ETO CHART NG QUARTER ////*@


                            <div class="col-lg-4">
                                <center>
                                    <b>Quarter :</b> <select class="form-control" style="text-align:center;" id="quarter" name="quarter" onchange="ValueQuarterYearChange()">
                                        <option value="1">January - June</option>
                                        <option value="2">July - December</option>
                                    </select>
                                </center>
                                @*<br />*@
                                
                                <div class="col-lg-4">
                                    <div id="chartContainerQuarterYear"></div>
                               
                                </div>
                            </div>




                        </div>
                    </div>
                </center>
            </div>
        </div>


    </div>

    @*</div>*@
    @*</center>*@
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script type="text/javascript" src="https://www.google.com/jsapi"></script>
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="js/bootstrap.js"></script>
    <script src="https://canvasjs.com/assets/script/jquery.canvasjs.min.js"></script>
    <script>
        $(document).ready(function () {

            var date = new Date();
            var year = date.getFullYear();
            for (var i = year; i > 2018; i--) {
                $('#textyear').append('<option value="' + i + '">' + i + '</option>');
            }
            AmenityCount();
            TenantCount();
            OwnerCount();
            AdminCount();

            var d = new Date();
            var month = d.getMonth() + 1;
            document.getElementById('month').value = month;
            var year1 = document.getElementById('textyear').value;
            var month1 = "";
            var datapoints = [];
            switch (month) {
                case 1:
                    month1 = "January";
                    break;
                case 2:
                    month1 = "February";
                    break;
                case 3:
                    month1 = "March";
                    break;
                case 4:
                    month1 = "April";
                    break;
                case 5:
                    month1 = "May";
                    break;
                case 6:
                    month1 = "June";
                    break;
                case 7:
                    month1 = "July";
                    break;
                case 8:
                    month1 = "August";
                    break;
                case 9:
                    month1 = "September";
                    break;
                case 10:
                    month1 = "October";
                    break;
                case 11:
                    month1 = "November";
                    break;
                case 12:
                    month1 = "December";
                    break;
            }
            $.ajax({
                type: 'POST',
                url: '/BossManager/GetMonthly',
                data: { month: month, year: year1 },
                success: function (data1) {
                    google.charts.load('current', {
                        'packages': ['corechart']
                    });
                    google.charts.setOnLoadCallback(function () {

                        drawChart2(data1);
                    });
                },
                error: function (data) {

                }

            });
            ValueYearChange();
            var quarter = 0;
            if (month >= 1 && month <= 6) {
                quarter = 1;
            }
            else {
                quarter = 2;
            }
            var s = 0;
            var e = 0;
            var period = "";
            switch (quarter) {
                case 1:
                    s = 1;
                    e = 6;
                    period = "January - June";
                    document.getElementById('quarter').value = 1;
                    break;
                case 2:
                    s = 7;
                    e = 12;
                    period = "July - December"
                    document.getElementById('quarter').value = 2;
                    break;
            }
            var datapoints1 = [];
            $.ajax({
                type: 'POST',
                url: '/BossManager/GetQuarterYear',
                data: { year: year1, start: s, end: e },
                success: function (data2) {
                    google.charts.load('current', {
                        'packages': ['corechart']
                    });
                    google.charts.setOnLoadCallback(function () {

                        drawChart1(data2);
                    });
                },
                error: function (data) {

                }

            });
        });
        function AmenityCount() {
            $.ajax({
                type: 'GET',
                url: '/BossManager/AmenityCount',
                success: function (data) {
                    $('#AmenityCount').append(data);
                },
                error: function (data) {

                }
            });
        }
        function TenantCount() {
            $.ajax({
                type: 'GET',
                url: '/BossManager/TenantCount',
                success: function (data) {
                    $('#TenantCount').append(data);
                },
                error: function (data) {

                }
            });
        }
        function OwnerCount() {
            $.ajax({
                type: 'GET',
                url: '/BossManager/OwnerCount',
                success: function (data) {
                    $('#OwnerCount').append(data);
                },
                error: function (data) {

                }
            });
        }
        function AdminCount() {
            $.ajax({
                type: 'GET',
                url: '/BossManager/AdminCount',
                success: function (data) {
                    $('#AdminCount').append(data);
                },
                error: function (data) {

                }
            });
        }

        function drawChart(result) {
            var data = new google.visualization.DataTable();
            data.addColumn('string', 'AmenityName');
            data.addColumn('number', 'Value');
            var dataArray = [];
            $.each(result, function (i, obj) {
                dataArray.push([obj.AmenityName, obj.Value]);
            });
            data.addRows(dataArray);

            var columnChartOptions = {
                title: "Amenity Usage",
                width: 470,
                height: 470,
                bar: { groupWidth: "0%" },
            };

            var columnChart = new google.visualization.PieChart(document
                .getElementById('chartContainerYear'));

            columnChart.draw(data, columnChartOptions);
        }

        function drawChart1(result) {
            var data = new google.visualization.DataTable();
            data.addColumn('string', 'AmenityName');
            data.addColumn('number', 'Value');
            var dataArray = [];
            $.each(result, function (i, obj) {
                dataArray.push([obj.AmenityName, obj.Value]);
            });
            data.addRows(dataArray);

            var columnChartOptions = {
                title: "Amenity Usage",
                width: 470,
                height: 470,
                bar: { groupWidth: "0%" },
            };

            var columnChart = new google.visualization.PieChart(document
                .getElementById('chartContainerQuarterYear'));

            columnChart.draw(data, columnChartOptions);
        }

        function drawChart2(result) {
            var data = new google.visualization.DataTable();
            data.addColumn('string', 'AmenityName');
            data.addColumn('number', 'Value');
            var dataArray = [];
            $.each(result, function (i, obj) {
                dataArray.push([obj.AmenityName, obj.Value]);
            });
            data.addRows(dataArray);

            var columnChartOptions = {
                title: "Amenity Usage",
                width: 470,
                height: 470,
                bar: { groupWidth: "0%" },
            };

            var columnChart = new google.visualization.PieChart(document
                .getElementById('chartContainer1'));

            columnChart.draw(data, columnChartOptions);
        }


        function ValueChange() {
            var month = document.getElementById('month').value;
            console.log(month);
            var year1 = document.getElementById('textyear').value;
            var month1 = '';
            var datapoints = [];
            switch (month) {
                case "1":
                    month1 = "January";
                    break;
                case "2":
                    month1 = "February";
                    break;
                case "3":
                    month1 = "March";
                    break;
                case "4":
                    month1 = "April";
                    break;
                case "5":
                    month1 = "May";
                    break;
                case "6":
                    month1 = "June";
                    break;
                case "7":
                    month1 = "July";
                    break;
                case "8":
                    month1 = "August";
                    break;
                case "9":
                    month1 = "September";
                    break;
                case "10":
                    month1 = "October";
                    break;
                case "11":
                    month1 = "November";
                    break;
                case "12":
                    month1 = "December";
                    break;
            }

            $.ajax({
                type: "POST",
                url: '/BossManager/GetMonthly',
                data: { month: month, year: year1 },
                success: function (result) {
                    google.charts.load('current', {
                        'packages': ['corechart']
                    });
                    google.charts.setOnLoadCallback(function () {

                        drawChart2(result);
                    });
                }
            });
        }
        function ValueYearChange() {
            var year1 = document.getElementById('textyear').value;

            $.ajax({
                type: "POST",
                url: '/BossManager/GetYearly',
                data: { year: year1 },
                success: function (result) {
                    google.charts.load('current', {
                        'packages': ['corechart']
                    });
                    google.charts.setOnLoadCallback(function () {

                        drawChart(result);
                    });
                }
            });
        }
        function ValueQuarterYearChange() {

            var year1 = document.getElementById('textyear').value;
            var quarter = document.getElementById('quarter').value;
            var s = 0;
            var e = 0;
            var period = "";
            switch (quarter) {
                case "1":
                    s = 1;
                    e = 6;
                    period = "January - June";
                    break;
                case "2":
                    s = 7;
                    e = 12;
                    period = "July - December"
                    break;
            }
            var datapoints = [];

            $.ajax({
                type: "POST",
                url: '/BossManager/GetQuarterYear',
                data: { year: year1, start: s, end: e },
                success: function (result) {
                    google.charts.load('current', {
                        'packages': ['corechart']
                    });
                    google.charts.setOnLoadCallback(function () {

                        drawChart1(result);
                    });
                }
            });

        }
    </script>

</body>
</html>
