
@{
	Layout = "~/Views/Layout/ReservationLayout.cshtml";
}
@using (Html.BeginForm("Choose_Date", "ReservationA", FormMethod.Post))
{
	@Html.AntiForgeryToken()

	@*Scripts for dropdown*@
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
		<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">

		<style>


			body {
				background: url(../../Content/HomeImages/bg3.jpg) no-repeat center center fixed;
				-webkit-background-size: cover;
				-moz-background-size: cover;
				-o-background-size: cover;
				background-size: cover;
			}

			.button {
				padding: 15px 25px;
				font-size: 15px;
				text-align: center;
				cursor: pointer;
				outline: none;
				color: #fff;
				background-color: #09442c;
				border: none;
				border-radius: 5px;
				float: right;
				text-decoration: none;
				text-decoration-color: none;
			}

			.submit {
				padding: 15px 25px;
				font-size: 15px;
				text-align: center;
				cursor: pointer;
				outline: none;
				color: #fff;
				background-color: #09442c;
				border: none;
				border-radius: 5px;
				float: right;
				text-decoration: none;
				text-decoration-color: none;
			}



			.button:hover {
				background-color: #0e6742;
			}


			div.card {
				width: 700px;
				height: 450px;
				box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
				padding: 10px;
			}
		</style>




	</head>
	<body>

		<br />
		<br />

		<center>
			<!--Progress bar start-->
			<div>
				<div class="progress" style="width:1400px;height:45px;">
					<div class="progress-bar progress-bar-success " role="progressbar" aria-valuenow="20"
						 aria-valuemin="0" aria-valuemax="100" style="width:20%;">
						<a href="@Url.Action("Amenity","ReservationA") " style="text-decoration:none;"><p style="font-family:Arial, Helvetica, sans-serif; padding-top:1em"> <font color="white" size="3">Choose Amenity</font></p></a>
					</div>


					<div class="progress-bar progress-bar-success" style="width:20%;" role="progressbar" aria-valuenow="0"
						 aria-valuemin="0" aria-valuemax="100">
						<a href="@Url.Action("Calendar","ReservationA")" style="text-decoration:none;"><p style="font-family:Arial, Helvetica, sans-serif;padding-top:1em"> <font color="white" size="3">Scheduled Amenity</font> </p></a>
					</div>


					<div class="progress-bar progress-bar-success progress-bar-striped active" style="width:20%;" role="progressbar" aria-valuenow="0"
						 aria-valuemin="0" aria-valuemax="100">
						<p style="font-family:Arial, Helvetica, sans-serif;padding-top:1em"> <font color="white" size="3">Choose Date</font> </p>
					</div>

					<div class="progress-bar " style="background-color:#979797; width:20%;" role="progressbar" aria-valuenow="0"
						 aria-valuemin="0" aria-valuemax="100">
						<p style="font-family:Arial, Helvetica, sans-serif;padding-top:1em"> <font color="white" size="3">Choose Equipment</font> </p>
					</div>
					<div class="progress-bar  " style="background-color:#979797; width:20%;" role="progressbar" aria-valuenow="0"
						 aria-valuemin="0" aria-valuemax="100">
						<p style="font-family:Arial, Helvetica, sans-serif;padding-top:1em"> <font color="white" size="3">Summary</font> </p>
					</div>
				</div>

				<!--Progress bar end-->
			</div>
		</center>


		<!-- Header -->

		<div id="main">

			<header class="w3-display-container w3-content" style="max-width:1500px; ">

				<center>
					<p> <strong> REMINDERS </strong></p>
					<p> <i class="glyphicon glyphicon-exclamation-sign"></i> Kindly settle your full payment within 24 hours.</p>
					<p> <i class="glyphicon glyphicon-erase"></i> Failure to pay in full will not be considered as Reserved.</p>
					<p> <i class="glyphicon glyphicon-ban-circle"></i> Non-refundable in all amenities.</p>
					<p> <i class="glyphicon glyphicon-remove-sign"></i> Additional charges may vary upon extension of time and damage.</p>

				</center>

				<img class="w3-image" src="~/Content/HomeImages/Pamdale4.jpg" alt="Palmdale" @*style="opacity:0;"*@ width="1500" height="400">



				<div class="w3-display-middle w3-padding w3-col l6 m8">
					<br /> <br />
					<div class="w3-container w3-green">

						<h3><i class="glyphicon glyphicon-tags"></i>   Palmdale Heights Condiminium</h3>
					</div>

					<div class="w3-container w3-dark-gray w3-padding-16">
						@*<form action="/action_page.php" target="_blank">*@

						<div class="w3-row-padding" style="margin:0 -16px;">
							<div class="w3-half w3-margin-bottom">
								<label><i class="glyphicon glyphicon-calendar"></i> Start Date</label>

								<font color="black">
									<input type="date" onselect="Set()" class="w3-input" id="sd" name="sd" required @*style="float:left; width:350px;"*@ />
								</font>


								@*<input class="w3-input w3-border" type="text" placeholder="DD MM YYYY" name="CheckIn" required>*@
							</div>
							<div class="w3-half">

								<label><i class="glyphicon glyphicon-time"></i> Start Time</label>

								<font color="black">
									<input type="time" onselect="myFunction()" class="w3-input" min="08:00" max="20:00" id="st" name="st" required @*style="float:right; width:350px; padding-bottom:18px;"*@ />
								</font>
								@*<input class="w3-input w3-border" type="text" placeholder="DD MM YYYY" name="CheckOut" required>*@
							</div>
						</div>

						<!----EndDate/EndTime-------->

						<div class="w3-row-padding" style="margin:8px -16px;">
							<div class="w3-half w3-margin-bottom">
								<label><i class="glyphicon glyphicon-calendar"></i> End Date</label>

								<font color="black">
									<input type="date" class="w3-input" id="ed" name="ed" readonly="readonly" @*style="float:left; width:350px;"*@ />
								</font>

								@*<input class="w3-input w3-border" type="text" placeholder="DD MM YYYY" name="CheckIn" required>*@
							</div>
							<div class="w3-half">

								<label><i class="glyphicon glyphicon-time"></i> End Time</label>

								<font color="black">
									<input type="time" class="w3-input" min="09:00" max="21:00" id="et" name="et" required @*style="float:right; width:350px; padding-bottom:18px;"*@ />
								</font>

								@*<input class="w3-input w3-border" type="text" placeholder="DD MM YYYY" name="CheckOut" required>*@
							</div>
						</div>

						<!---Rate-->
						<div class="w3-row-padding" style="margin:16px -16px;">
							<div class="w3-half w3-margin-bottom">
								<label> <i class="glyphicon glyphicon-ruble"> </i> Rate :</label>

								<font color="black">
									<input type="text" id="rate" class="w3-input" disabled="disabled" />

									<input type="hidden" id="stime" name="stime" />
									<input type="hidden" id="etime" name="etime" />
									<input type="hidden" id="tratee" name="tratee" />
									<input type="hidden" id="qwe" name="qwe" />
									<input type="hidden" id="abc" name="abc" />
								</font>
							</div>
						</div>





						<!---For Swimming Pool-->
						@*<div class="w3-row-padding" style="margin:8px -16px;">
							<div class="w3-half w3-margin-bottom">
							<label><i class="fa fa-male"></i> Adults</label>
							<input class="w3-input w3-border" type="number" value="1" name="Adults" min="1" max="6">
							</div>
							<div class="w3-half">
							<label><i class="fa fa-child"></i> Kids</label>
							<input class="w3-input w3-border" type="number" value="0" name="Kids" min="0" max="6">
							</div>
							</div>*@

						<button name="submit" type="submit" button class="button" onclick="Check()"> Next</button>





					</div>
				</div>
			</header>
			<!--Header Ends-->

		</div>




		@*<div class="third">
			<iframe frameborder=0 style='width:100%;height:500px' src='//www.zeemaps.com/pub?group=3149776&x=121.100670&y=14.550045&z=1&item=197588804'> </iframe>*@

		<!---Save NATEN TOH AHHKK XDD-->
		@*<iframe frameborder=0 style='width:100%;height:500px' src='//www.zeemaps.com/pub?group=3150648&x=121.099658&y=14.549327&z=0&item=197607366'> </iframe>*@

		<!-- Footer -->
		<footer @*class="w3-center  w3-dark-gray w3-padding-16 w3-text-white "*@ style=" background-color:#282828; padding: 10px; text-align: center;color: white;">
			<p> <center><img src="~/Content/logo.png" width="180" height="80" /> </center></p>
			<p><i class="fa fa-map-marker w3-text-green w3-xlarge"></i>  8505 Hon. A Sandoval Ave., Brgy. Pinagbuhatan Pasig City</p>
			<p><i class="fa fa-phone w3-text-green w3-xlarge"></i>  (632) 571-2347, (632) 571-0966</p>
			<p><i class="fa fa-envelope-o w3-text-green w3-xlarge"></i>  palmdalecondominium@yahoo.com</p>
			<p>&copy; @DateTime.Now.Year -Palmdale Heights Condominium</p>

		</footer>

	</body>



}


	<script type="text/javascript">
	var startTime;
	var endTime;
	var selectedValue;
	var startT;
	var endT;
	var startDate;
	var endDate;
	var rate1=@ViewBag.Message;
	var rateA;
	var statuset="Valid";
	var statusst="Valid";
	function ValidateDate() {
		var x = $('#sd').val();
		var y = $('#et').val();
		var z = $('#st').val();
		if (x == " " && y == " " && z == " ") {
			alert("Please fill up all required fields");
		}
	}
	function toStandardTime(value) {
		if (value !== null && value !== undefined) { //If value is passed in
			if (value.indexOf('AM') > -1 || value.indexOf('PM') > -1) { //If time is already in standard time then don't format.
				return value;
			}
			else {
				if (value.length == 8) { //If value is the expected length for military time then process to standard time.
					var hour = value.substring(0, 2); //Extract hour
					var minutes = value.substring(3, 5); //Extract minutes
					var identifier = 'AM'; //Initialize AM PM identifier

					if (hour == 12) { //If hour is 12 then should set AM PM identifier to PM
						identifier = 'PM';
					}
					if (hour == 0) { //If hour is 0 then set to 12 for standard time 12 AM
						hour = 12;
					}
					if (hour > 12) { //If hour is greater than 12 then convert to standard 12 hour format and set the AM PM identifier to PM
						hour = hour - 12;
						identifier = 'PM';
					}
					return hour + ':' + minutes + ' '; //Return the constructed standard time
				}
				else { //If value is not the expected length than just return the value as is
					return value;
				}
			}
		}
	}
	$(document).ready(
		function () {
			$('#sd').change(function () {
				selectedValue = $(this).val();
				document.getElementById('ed').value = selectedValue;
				startDate = selectedValue;
				endDate = selectedValue;
				var q = new Date();
				var MyDateString = q.getFullYear() + '-' + ('0' + (q.getMonth() + 1)).slice(-2) + '-' + ('0' + q.getDate()).slice(-2);;
				if (startDate < MyDateString)
				{
					alert("the input is earlier than today");
					document.getElementById('sd').value = null;
					document.getElementById('ed').value = null;
				}
			});

		});



    $(document).ready(function () {
        $('#st').change(function myFunction() {
			selectedValue = $('#st').val();
			startTime = $(this).val();

            var fhours = parseInt(selectedValue.split(':')[0], 10) + 1;
            var fmins = selectedValue.split(':')[1];
            var f = selectedValue.split(' ')[2];
            var final = fhours + ":" + fmins;
            document.getElementById('et').value = final;
            var startHours = parseInt(selectedValue.split(':')[0], 10);
            if (startHours >= 8 && startHours <= 20) {
                if (startHours == 17 && fhours == 18) {
                    alert('5pm-6pm is not Available');
                    document.getElementById('st').value = '';
                    document.getElementById('et').value = '';
                    document.getElementById('rate').value = 0;
                }
                else if (startHours >= 8 && startHours <= 17) {
                    var hourDiff = fhours - startHours;
                    rateA = rate1 * hourDiff;
                    document.getElementById('rate').value = rateA;
                }
                else if (startHours >= 18 && startHours <= 20) {

                    var hourDiff = fhours - startHours;
                    rateA = ((rate1 * 2) * hourDiff);
                    document.getElementById('rate').value = rateA;
                }
                else {
                    alert('5pm-6pm is not Available');
                    document.getElementById('st').value = '';
                    document.getElementById('et').value = '';
                    document.getElementById('rate').value = 0;
                }
            }
            else {
                alert("Reservation period is 8am-5pm and 6pm-9pm only");
                document.getElementById('st').value = '';
                document.getElementById('et').value = '';
                document.getElementById('rate').value = 0;
            }

        });
    });




    $(document).ready(function () {
		$('#et').change(function myFunction() {
			endTime = $(this).val();
            var startHours = document.getElementById('st').value;
            var endHours = document.getElementById('et').value;
            var sh = parseInt(startHours.split(':')[0], 10);
            var eh = parseInt(endHours.split(':')[0], 10);
            var diff = eh - sh;
            if (eh >= 9 && eh <= 21) {
                if (sh == 17 && eh == 18) {
                    alert('Unavailable Time');
                    document.getElementById('st').value = '';
                    document.getElementById('et').value = '';
                    document.getElementById('rate').value = 0;
                }
                else if (eh >= 9 && eh <= 17  ) {
                    rateA = rate1 * diff;
                    document.getElementById('rate').value = rateA;
                }
                else if (eh >= 18 && eh <= 21) {

                    rateA = ((rate1 * 2) * diff);
                    document.getElementById('rate').value = rateA;
                }
            }
            else {
                alert("Reservation period is 8am-5pm and 6pm-9pm only");
                document.getElementById('st').value = '';
                document.getElementById('et').value = '';
                document.getElementById('rate').value = 0;
            }
        });
    });










	function Check() {
		if (statusst == 'Valid' && statuset == 'Valid') {
			var stconcat = startDate + " " + startTime;
			var etconcat = endDate + " " + endTime;
			var cdrate = rateA;
			document.getElementById('stime').value = stconcat;
			document.getElementById('etime').value = etconcat;
			document.getElementById('tratee').value = cdrate;
		}
		else {
			alert('Invalid');
		}
	};


	</script>