
@{
	ViewBag.Title = "SelectOT";
	Layout = "~/Views/Layout/ReservationLayout.cshtml";
}
@using (Html.BeginForm("SelectOT", "ReservationA", FormMethod.Post))
{
	@Html.AntiForgeryToken()
	<html>
	<head>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<style>
			.block {
				display: block;
				width: 50%;
				border: none;
				background-color: #4CAF50;
				color: white;
				padding: 100px 100px;
				font-size: 16px;
				cursor: pointer;
				text-align: center;
			}

				.block:hover {
					background-color: #ddd;
					color: black;
				}
		</style>
	</head>
	<body>
		<input type="hidden" id="ownten" name="ownten" value="0" />
		<center>
			<br><br>
			<a href="~/ReservationA/ReservationA"><button class="block" id="owner" name="owner" >Owner</button></a>
			<br>
			<a href="~/ReservationA/ReservationA"><button class="block" id="tenant" name="tenant">Tenant</button></a>
			<br />

		</center>
	</body>
</html>
}
<script>


	jQuery(function ($) {
		$("#owner").click(function () {
			document.getElementById("ownten").value = "4";
		});

		$("#tenant").click(function () {
			document.getElementById("ownten").value = "5";
		});
	});
</script>








