
@{
	ViewBag.Title = "CodeVerification";
	Layout = "";
}
@using (Html.BeginForm("CodeVerification", "Login", FormMethod.Post))
{
	@Html.AntiForgeryToken()
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		@Styles.Render("~/Content/css")
		@Scripts.Render("~/bundles/modernizr")
	</head>


	<body background="~/Content/Log/loginbg.jpg" style=" background-size:cover; background-repeat: no-repeat; ">

		<br />
		<br />
		<br />
		<br />
		<br />

		<div class=" container ">
			<div class=" col-lg-4"></div>

			<div class="col-lg-4 ">

				<center>
					<div class="jumbotron" style="background-color:  rgba(10,10,10,.68);">

						<font color="white">


							<p>Code Verification</p>

							<hr />
							<div class="text-center">

								<font color="white">
									<p>Enter the code that has been sent to your email</p>

									<br />
									<input type="text" placeholder="Enter a code" id="code" name="code" class="form-control" />

									<br />
									<br />
									<input type="submit" class="btn btn-block active " style="background-color:#26d69a;   width:170px; height:40px; border-radius:10px; margin: 10px 20px 10px; padding:0; font-weight:500 " />

								</font>
							</div>
						</font>
					</div>
				</center>
			</div>
			
			
			</div>
</body>
		}

