
@{
	ViewBag.Title = "CodeVerification";
	Layout = "";
}
@using (Html.BeginForm("CodeVerification","Login",FormMethod.Post))
{
	@Html.AntiForgeryToken()
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		@Styles.Render("~/Content/css")
		@Scripts.Render("~/bundles/modernizr")
	</head>

	<div class="col-md-6">
		<div class="jumbotron">
			<p>Code Verification</p>
			<table>
				<tr><td><p>Enter the code that has been sent to your email</p></td></tr>
				<tr><td><input type="text" placeholder="Enter a code" id="code" name="code" /></td></tr>
				<tr><td><input type="submit" class="btn btn-default"/></td></tr>
			</table>
		</div>
	</div>
}

