
@{
	ViewBag.Title = "ForgotPassword";
	Layout = "";
}
@using (Html.BeginForm("ForgotPassword", "Login", FormMethod.Post))
{
	@Html.AntiForgeryToken()
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		@Styles.Render("~/Content/css")
		@Scripts.Render("~/bundles/modernizr")
	</head>

		<div class="col-md-6">
			<div class="jumbotron">
				<p>Forgot Password?</p>
				<hr />
				<div class="text-center">
					<table>
						<tr><td><p>Please enter your email to reset your password.</p></td></tr>
						<tr><td><input type="text" id="email" name="email" placeholder="Email" class="form-control" /></td></tr>
						<tr><td><input type="submit" class="btn btn-default" /></td></tr>
					</table>
				</div>
			</div>
		</div>

}