
@{
	ViewBag.Title = "NewPassword";
	Layout = "";
}


@using (Html.BeginForm("NewPassword", "Login", FormMethod.Post))
{
	@Html.AntiForgeryToken()
	
	
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		@Styles.Render("~/Content/css")
		@Scripts.Render("~/bundles/modernizr")
	</head>

	<body background="~/Content/Log/loginbg.jpg" style=" background-size:cover; background-repeat: no-repeat; ">

		<br />
		<br />
		<br />
		<br />
		<br />

		<<div class=" container ">
	<div class=" col-lg-4"></div>

	<div class="col-lg-4 ">

		<center>



			<div class="jumbotron" style="background-color:  rgba(10,10,10,.68);">

				<font color="white">

					<p>Reset Password</p>
					<hr />


					<br />
					<input type="password" placeholder="New Password" id="pw" name="pw" />
					
					<br />
					<input type="submit" class="btn btn-default" value="Submit" />
				
				</font>
			</div>
		</center>
	</div>
	<div class="col-lg-4"></div>
</div>
</body>
		}
