@{ 
    Layout = "/Views/Layout/FinanceLayout.cshtml";
}
@using (Html.BeginForm("CalendarView", "Calendar", FormMethod.Post))
{
	@Html.AntiForgeryToken()

	<head>
		<style>
			legend0 {
				color: red;
			}

			legend1 {
				color: yellow;
			}

			legend2 {
				color: violet;
			}

			legend3 {
				color: black;
			}
		</style>
	</head>
	<br />
	<br />
	<div class="container">
		<div class="modal fade" id="myModal" role="dialog">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal">&times;</button>
						<h4 class="modal-title"><span id="eventTitle"></span></h4>
					</div>
					<div class="modal-body">
						<input type="hidden" name="rid" id="rid" />
						<input type="hidden" name="rfid" id="rfid" />
						<p id="pDetails"></p>
						<br /><br />
						<button type="button" class="btn btn-primary" id="btnPayment" name="btnPayment" data-dismiss="modal">Record Payment</button>
						<button type="button" class="btn btn-success" id="btnCModal" name="btnCModal" data-dismiss="modal">Update Status</button>
						<button type="button" class="btn btn-info" id="btnHistory" name="btnHistory" data-dismiss="modal">Payment History</button>

					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
					</div>
				</div>
			</div>
		</div>
	</div>




	<div class="container">
		<div class="modal fade" id="paymentModal" role="dialog">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal">&times;</button>
					</div>
					<div class="modal-body">
						<b>Payment: </b><input type="number" name="dp" id="dp" min="0" value="0" required/>
						<br /><br />
						<b>Description: </b><textarea class="form-control" id="pdescription" name="pdescription" required></textarea>
						<br /><br />
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-primary" id="btnAddPayment" name="btnAddPayment" onclick="AddPayment()">Add Payment</button>
						<button type="button" class="btn btn-danger" id="btnCloseP" name="btnCloseP" data-dismiss="modal">Close</button>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="container">
		<div class="modal fade" id="UpdateModal" role="dialog">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal">&times;</button>
					</div>
                    <div class="modal-body">
                        <b>Status: </b><select id="mySelect" name="mySelect">
                            <option value="Pending">Pending</option>
                            <option value="Reserved">Reserved</option>
                            <option value="Canceled">Canceled</option>
                        </select>
                        <br /><br />
                        <b>Current Charge: </b><label name="cg" id="cg" min="0"></label>
                        <br /><br />
                        <b>Add Charge: </b><input type="number" name="cg1" id="cg1" min="0" value="0" />
                    </div>
					<div class="modal-footer">
						<button type="button" class="btn btn-success" id="btnUpdate" name="btnUpdate" onclick="UpdateStatus()">Save Changes</button>
						<button type="button" class="btn btn-danger" id="btnCloseU" name="btnCloseU" data-dismiss="modal">Close</button>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="container">
		<div class="modal fade" id="PaymentHistory" role="dialog">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal">&times;</button>
					</div>
					<div class="modal-body">
						<table class="table" name="tbHistory" id="tbHistory" style="overflow-y:scroll;height:200px;display:block;">                      
                        </table>
                       <b>Total Payment :</b><label id="txtTotalPayment" name="txtTotalPayment"></label>

					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-danger" id="btnCloseRH" name="btnCloseRH" data-dismiss="modal">Close</button>
					</div>
				</div>
			</div>
		</div>
	</div>



	<div id="calendar"></div>
	<link href="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.8.2/fullcalendar.min.css" rel="stylesheet" />
	<link href="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.8.2/fullcalendar.print.css" rel="stylesheet" media="print" />

	@section scripts{
		<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.18.1/moment.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.8.2/fullcalendar.min.js"></script>


		<script>

            function AddPayment() {
                var refno = document.getElementById('rfid').value;
                var payment = document.getElementById('dp').value;
                var q = new Date();
                var MyDateString = q.getFullYear() + '-' + ('0' + (q.getMonth() + 1)).slice(-2) + '-' + ('0' + q.getDate()).slice(-2);;
                var description = document.getElementById('pdescription').value;
                var name = "@Session["Fullname"]";
               
                var data1 = {
                    RefNo: refno,
                    Totalpayment: payment,
                    Date: MyDateString,
                    Description: description,
                    CreatedBy: name
                };


                $.ajax({
                    type: "POST",
                    url: "/calendar/InsertPayment",
                    data: data1,
                    success: function (data) {
                        if (data == true) {
                            $('#paymentModal').modal('hide');
                            RefreshCalendar();
                            alert('Success');
                            $('#myModal').modal();
                        }
                                       

                    },
                    error: function (error) {
                        alert('failed');
                    }
                });
			}
            function ReceiptHistory() {
				var refno = document.getElementById('rfid').value;
		
                $.ajax({
                    type: "POST",
                    url: "/calendar/ReceiptHistory",
                    dataType: 'json',
                    data: {
                        'refno1': refno
                    },
                    success: function (data) {
                        var totalp = 0;
                        var trHTML = '';
						format: 'yyyy-mm',
							

                        $('#tbHistory').empty();
                        trHTML = '<tr><th>Date</th> <th>Payment</th> <th>Description</th> <th>Created By</th></tr>';
                        $.each(data, function (i, v) {                        
							trHTML += '<tr><td>' + ToJavaScriptDate(v.Date) + '</td><td>' + v.Totalpayment + '</td><td>' + v.Description + '</td><td>' + v.CreatedBy + '</td></tr>';
                            totalp += v.Totalpayment;
                        });
                        $('#tbHistory').append(trHTML);
                        document.getElementById('txtTotalPayment').innerHTML  = totalp;
                        trHTML = '';
                    },
                    error: function (error) {
                        alert('Failed to retrieve the record');
                    }
                });
			}


			function ToJavaScriptDate(value) {
				var pattern = /Date\(([^)]+)\)/;
				var results = pattern.exec(value);
				var dt = new Date(parseFloat(results[1]));
				return (dt.getMonth() + 1) + "/" + dt.getDate() + "/" + dt.getFullYear() + "-" + dt.getHours() + ":" + dt.getMinutes();
			}


            function UpdateStatus() {
                var refno = document.getElementById('rfid').value;
                var rstatus = document.getElementById('mySelect').value;
                var charge1 = document.getElementById('cg').innerHTML;
                var charge2 = document.getElementById('cg1').value;
                var charge = charge1 + charge2;
                $.ajax({
                    type: "POST",
                    url: "/calendar/UpdatePayment",
                    dataType: 'json',
                    data: {
                        'rstatus1': rstatus,
                        'charge1': charge,
                        'refno1': refno,  },
                    success: function (data) {
                        if (data == true) {
                            $('#UpdateModal').modal('hide');
                            RefreshCalendar();
                        }
                    },
                    error: function (error) {
                        alert('Failed');
                    }
                });
            }

            $(document).ready(function () {
                $.ajax({
                    type: "GET",
                    url: "/calendar/GetEvents",
                    success: function (data) {
                        $.each(data, function (i, v) {
                            events.push({
                                title: v.AName,
                                reserved: v.ReservedBy,
                                start: moment(v.StartTime),
                                end: v.EndTime != null ? moment(v.EndTime) : null,
                                rate: v.Rate,
                                status: v.Status,
                                color: v.Color,
                                dp: v.Total,
                                cg: v.Charge,
                                bn: v.BldgNo,
                                un: v.UnitNo,
                                r: v.RId,
                                rf: v.RFId,
                                tc: v.TableCost,
                                cc: v.ChairCost,
                            });
                        })
                        GenerateCalendar(events);
                    },
                    error: function (error) {
                        alert('failed');
                    }
                });



            });
                var events = [];
                var d = '';
                var selectedEvent = null;
              



                function RefreshCalendar() {
                    events = [];
                    $.ajax({
                        type: "GET",
                        url: "/calendar/GetEvents",
                        success: function (data) {
                            $.each(data, function (i, v) {
                                events.push({
                                    title: v.AName,
                                    reserved: v.ReservedBy,
                                    start: moment(v.StartTime),
                                    end: v.EndTime != null ? moment(v.EndTime) : null,
                                    rate: v.Rate,
                                    status: v.Status,
                                    color: v.Color,
                                    dp: v.Total,
                                    cg: v.Charge,
                                    bn: v.BldgNo,
                                    un: v.UnitNo,
                                    r: v.RId,
                                    rf: v.RFId,
                                    tc: v.TableCost,
                                    cc: v.ChairCost
                                });
                            })
                            GenerateCalendar(events);
                        },
                        error: function (error) {
                            alert('failed');
                        }
                    });
                    

                }


                function GenerateCalendar(events) {
                    $('#calendar').fullCalendar('destroy');
                    $('#calendar').fullCalendar({
                        contentHeight: 400,
                        defaultDate: new Date(),
                        timeFormat: 'h(:mm):a',
                        header: {
                            left: 'prev,next today',
                            center: 'title',
                            right: 'month,basicWeek,basicDay,agenda'
                        },
                        eventLimit: true,
                        eventColor: '#378006',
                        events: events,

                        eventClick: function (calEvent, jsEvent, view) {
                            selectedEvent = calEvent;
                            $('#myModal #eventTitle').html('<b>Amenity Name: </b>' + calEvent.title);
                            var $description = $('<div/>');
                            $description.append($('<p/>').html('<b>Reserved By: </b>' + calEvent.reserved));
                            $description.append($('<p/>').html('<b>Building No: </b>' + calEvent.bn));
                            $description.append($('<p/>').html('<b>Unit No: </b>' + calEvent.un));
                            $description.append($('<p/>').html('<b>StartTime: </b>' + calEvent.start.format("DD/MMM/YYYY HH:mm a")));
                            $description.append($('<p/>').html('<b>EndTime: </b>' + calEvent.end.format("DD/MMM/YYYY HH:mm a")));
                            $description.append($('<p/>').html('<b>Amenity Cost: </b>' + calEvent.rate));
                            $description.append($('<p/>').html('<b>Table Cost: </b>' + calEvent.tc));
                            $description.append($('<p/>').html('<b>Chair Cost: </b>' + calEvent.cc));
                            $description.append($('<p/>').html('<b>Charge: </b>' + calEvent.cg));
                            $description.append($('<p/>').html('<b>Total Cost: </b>' + ((calEvent.rate + calEvent.tc + calEvent.cc + calEvent.cg))));
                            $description.append($('<p/>').html('<b>Outstanding Total: </b>' + ((calEvent.rate + calEvent.tc + calEvent.cc + calEvent.cg) - (calEvent.dp))));
                            $description.append($('<p/>').html('<b>Status: </b>' + calEvent.status));
                            //+ calEvent.TableCost + calEvent.ChairCost + calEvent.cg) - (calEvent.dp))
                            document.getElementById('mySelect').value = calEvent.status;
                            //document.getElementById('dp').value = calEvent.dp;
                            document.getElementById('rid').value = calEvent.r;
                            document.getElementById('rfid').value = calEvent.rf;
                            document.getElementById('cg').innerHTML = calEvent.cg;

                            $('#myModal #pDetails').empty().html($description);

                            $('#myModal').modal();

                        }
                    })
                }
           

            $('#btnSave').click(function () {
                if (selectedEvent != null && confirm('Are you sure?')) {

                    SaveEvent(data);
                }
            });
            $('#btnPayment').click(function () {

                $('#paymentModal').modal();
            });
            $('#btnCloseP').click(function () {

                $('#myModal').modal();
            }
            );
            $('#btnCModal').click(function () {
                    
                $('#UpdateModal').modal();
            });
            $('#btnCloseU').click(function () {

                $('#myModal').modal();
            }
            );
            $('#btnCloseRH').click(function () {

                $('#myModal').modal();
            }
            );
            $('#btnHistory').click(function () {

                $('#PaymentHistory').modal();
                ReceiptHistory();
            });


        </script>
	}
}