
@{
	ViewBag.Title = "CalendarView";
}

<h2>CalendarView</h2>

<div id="calendar"></div>


<div id="Modal" class="modal fade" role="dialog">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal">&times;</button>
				<h4 class="modal-title"><span id="eventTitle"></span></h4>
			</div>
			<div class="modal-body">
				@*<button id="btnDelete" class="btn btn-default btn-sm pull-right">
					<span class="glyphicon glyphicon-remove"></span> Remove
				</button>
				<button id="btnEdit" class="btn btn-default btn-sm pull-right" style="margin-right:5px;">
					<span class="glyphicon glyphicon-pencil"></span> Edit
				</button>*@
				<p id="pDetails"></p>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
			</div>
		</div>
	</div>
</div>








<link href="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.8.2/fullcalendar.min.css" rel="stylesheet" />
<link href="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.8.2/fullcalendar.print.css" rel="stylesheet" media="print" />

@section scripts{
	<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.18.1/moment.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.8.2/fullcalendar.min.js"></script>

	<script>
		$(document).ready(function () {
			var events = [];
			$.ajax({
				type: "GET",
				url: "/calendar/GetEvents",
				success: function (data) {
					$.each(data, function (i, v) {
						events.push({
							title: v.AmenityName,
							start: moment(v.StartTime),
							end: v.EndTIme != null ? moment(v.EndTIme) : null,
							rate: v.Rate,
							color: v.Theme
						});
					})
					GenerateCalendar(events);
				},
				error: function (error) {
					alert('failed');
				}
			})

			function GenerateCalendar(events) {
				$('#calendar').fullCalendar('destroy');
				$('#calendar').fullCalendar({
					contentHeight: 400,
					defaultDate: new Date(),
					timeFormat: 'h(:mm):a',
					header: {
						left: 'prev,next today',
						center: 'title',
						right: 'month,basicWeek,basicDay,agenda'
					},
					eventLimit: true,
					eventColor: '#378006',
					events: events,

					eventClick: function (calEvent, jsEvent, view) {
						$('#Modal #eventTitle').html('<b>Amenity Name: </b>' + calEvent.title);
						var $description = $('<div/>');
						$description.append($('<p/>').html('<b>StartTime: </b>' + calEvent.start.format("DD/MMM/YYYY HH:mm a")));
						if (calEvent.end != null) {
							$description.append($('<p/>').html('<b>EndTime: </b>' + calEvent.end.format("DD/MMM/YYYY HH:mm a")));
						}
						$description.append($('<p/>').html('<b>Rate: </b>' + calEvent.rate));
						$('#Modal #pDetails').empty().html($description);
						$('#Modal').modal();

					}
				})
			}
		})



	</script>


}