
@{
	ViewBag.Title = "CalendarViewOT";
	if (Convert.ToInt32(Session["Level"]) == 4)
	{
		Layout = "~/Views/Layout/LayoutHome.cshtml";
	}
	else if (Convert.ToInt32(Session["Level"]) == 5)
	{
		Layout = "~/Views/Layout/TenantLayout.cshtml";
	}
}





@*<div class="container">
	<div class="modal fade" id="myModal" role="dialog">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal">&times;</button>
					<h4 class="modal-title"><span id="eventTitle"></span></h4>
				</div>
				<div class="modal-body">
					<input type="hidden" name="rid" id="rid" />
					<input type="hidden" name="rfid" id="rfid" />
					<p id="pDetails">
					</p>
					<br /><br />
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
				</div>
			</div>
		</div>
	</div>
</div>*@

<div class="container">
	<div class="modal fade" id="myModal" role="dialog">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal">&times;</button>
					<h4 class="modal-title"><span id="eventTitle"></span></h4>
				</div>
				<div class="modal-body">
					<input type="hidden" name="rid" id="rid" />
					<input type="hidden" name="rfid" id="rfid" />					
					<p id="pDetails">
					</p>
					<br /><br />					
				</div>
				<div class="modal-footer">				
					<button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
				</div>
			</div>
		</div>
	</div>
</div>
<br />
<br />

<div id="calendar" class="container"></div>
<link href="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.8.2/fullcalendar.min.css" rel="stylesheet" />
<link href="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.8.2/fullcalendar.print.css" rel="stylesheet" media="print" />

@section scripts{
	<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.18.1/moment.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.8.2/fullcalendar.min.js"></script>


	<script>
		$(document).ready(function () {
			var events = [];
			$.ajax({
				type: "GET",
				url: "/Reserve/GetEventsA",
				success: function (data) {
					$.each(data, function (i, v) {
						events.push({
							title: v.AName,
							reserved: v.ReservedBy,
							start: moment(v.StartTime),
							end: v.EndTime != null ? moment(v.EndTime) : null,
							rate: v.Rate,
							status: v.Status,
							color: v.Color,
							dp: v.Total,
							cg: v.Charge,
							bn: v.BldgNo,
							un: v.UnitNo,
							r: v.RId,
							rf: v.RFId,
							tc: v.TableCost,
							cc: v.ChairCost,
							amt: v.Amount
						});
					})
					GenerateCalendar(events);
				},
				error: function (error) {
					alert('failed');
				}
			});



		});

		function GenerateCalendar(events) {
			$('#calendar').fullCalendar('destroy');
			$('#calendar').fullCalendar({
				contentHeight: 400,
				defaultDate: new Date(),
				timeFormat: 'h(:mm):a',
				header: {
					left: 'prev,next today',
					center: 'title',
					right: 'month,basicWeek,basicDay,agenda'
				},
				eventLimit: true,
				eventColor: '#378006',
				events: events,

				eventClick: function (calEvent, jsEvent, view) {
					selectedEvent = calEvent;
					$('#myModal #eventTitle').html('<b>Date: </b>' + calEvent.start.format("DD/MMM/YYYY"))
					var $description = $('<div/>');
					$description.append($('<p/>').html('<b>StartTime: </b>' + calEvent.start.format("DD/MMM/YYYY hh:mm a")));
					$description.append($('<p/>').html('<b>EndTime: </b>' + calEvent.end.format("DD/MMM/YYYY hh:mm a")));
					$description.append($('<p/>').html('<b>Amenity Name: </b>' + calEvent.title));
					$description.append($('<p/>').html('<b>Reserved By: </b>' + calEvent.reserved));
					$description.append($('<p/>').html('<b>Total Payment: </b>' + (calEvent.dp - calEvent.amt)));
					$description.append($('<p/>').html('<b>Outstanding Total: </b>' + ((calEvent.rate + calEvent.tc + calEvent.cc + calEvent.cg) - (calEvent.dp - calEvent.amt))));
					//document.getElementById('mySelect').value = calEvent.status;
					document.getElementById('rid').value = calEvent.r;
					document.getElementById('rfid').value = calEvent.rf;


					$description.append($('<p/>').html('<b>Building No: </b>' + calEvent.bn));
					$description.append($('<p/>').html('<b>Unit No: </b>' + calEvent.un));
					//$description.append($('<p/>').html('<b>Amenity Cost: </b>' + calEvent.rate));
					//$description.append($('<p/>').html('<b>Table Cost: </b>' + calEvent.tc));
					//$description.append($('<p/>').html('<b>Chair Cost: </b>' + calEvent.cc));
					//$description.append($('<p/>').html('<b>Charge: </b>' + calEvent.cg));
					$description.append($('<p/>').html('<b>Total Cost: </b>' + ((calEvent.rate + calEvent.tc + calEvent.cc + calEvent.cg))));
					//$description.append($('<p/>').html('<b>Reversal Amount: </b>' + (calEvent.amt)));
					$description.append($('<p/>').html('<b>Status: </b>' + calEvent.status));
					//+ calEvent.TableCost + calEvent.ChairCost + calEvent.cg) - (calEvent.dp))
					//document.getElementById('dp').value = calEvent.dp;
					//document.getElementById('cg').innerHTML = calEvent.cg;
					//totalpay = calEvent.dp;
					//document.getElementById('tpr').innerHTML = calEvent.dp;
					$('#myModal #pDetails').empty().html($description);

					$('#myModal').modal();

				}
			})
		}

	</script>
}




