
@{
	ViewBag.Title = "Choose_Date";
	Layout = "~/Views/Reserve/Layout.cshtml";
}
@using (Html.BeginForm("Choose_Date", "Reserve", FormMethod.Post))
{
	@Html.AntiForgeryToken()


	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">

		<style>
			.button {
				padding: 15px 25px;
				font-size: 15px;
				text-align: center;
				cursor: pointer;
				outline: none;
				color: #fff;
				background-color: #09442c;
				border: none;
				border-radius: 5px;
			}



				.button:hover {
					background-color: #0e6742;
				}
		</style>




	</head>





	<br />
	<br />
	<br />
	<br />
	<br />

	<div class=" container ">
	

			<center>

				<div class="jumbotron" style=" box-sizing:content-box; background-color:#1bc27d; max-width:500px; min-height: 290px; margin: 30px auto;">


					<font face="Helvetica">
						<font color="black">

							<br />

							<h2>Choose Date</h2>

							<hr />

							<div class="text-center">

								<br />
								<font color="black">StartTime :</font>

								<font color="black">
									<input type="date" onselect="Set()" class="form-group" id="sd" name="sd" required />

									<input type="time" onselect="myFunction()" class="form-group" min="08:00" max="20:00" id="st" name="st" required />
								</font>


								<br />
								<font color="black">EndTime :</font>

								<font color="black">
									<input type="date" class="form-group" id="ed" name="ed" readonly="readonly" />

									<input type="time" class="form-group" min="09:00" max="21:00" id="et" name="et" required />
								</font>


								<br />

								<font color="black">Rate :</font>

								<font color="black">
									<input type="text" id="rate" class="form-group" disabled="disabled" />
									
									<input type="hidden" id="stime" name="stime" />
									<input type="hidden" id="etime" name="etime" />
									<input type="hidden" id="tratee" name="tratee" /></font>
									<br />
									<button name="submit" type="submit" button class="button" onclick="Check()"  > Next</button>
							</div>

							</font>
						</font>
				</div>

			</center>
		</div>


}

<script type="text/javascript">
	var startTime;
	var endTime;
	var selectedValue;
	var startT;
	var endT;
	var startDate;
	var endDate;
	var rate1=@ViewBag.Message;
	var rateA;
	var statuset="Valid";
	var statusst="Valid";
	function ValidateDate() {
		var x = $('#sd').val();
		var y = $('#et').val();
		var z = $('#st').val();
		if (x == " " && y == " " && z == " ") {
			alert("Please fill up all required fields");
		}
	}
	function toStandardTime(value) {
		if (value !== null && value !== undefined) { //If value is passed in
			if (value.indexOf('AM') > -1 || value.indexOf('PM') > -1) { //If time is already in standard time then don't format.
				return value;
			}
			else {
				if (value.length == 8) { //If value is the expected length for military time then process to standard time.
					var hour = value.substring(0, 2); //Extract hour
					var minutes = value.substring(3, 5); //Extract minutes
					var identifier = 'AM'; //Initialize AM PM identifier

					if (hour == 12) { //If hour is 12 then should set AM PM identifier to PM
						identifier = 'PM';
					}
					if (hour == 0) { //If hour is 0 then set to 12 for standard time 12 AM
						hour = 12;
					}
					if (hour > 12) { //If hour is greater than 12 then convert to standard 12 hour format and set the AM PM identifier to PM
						hour = hour - 12;
						identifier = 'PM';
					}
					return hour + ':' + minutes + ' '; //Return the constructed standard time
				}
				else { //If value is not the expected length than just return the value as is
					return value;
				}
			}
		}
	}
	$(document).ready(
		function () {
			$('#sd').change(function () {
				selectedValue = $(this).val();
				document.getElementById('ed').value = selectedValue;
				startDate = selectedValue;
				endDate = selectedValue;
				var q = new Date();
				var MyDateString = q.getFullYear() + '-' + ('0' + (q.getMonth() + 1)).slice(-2) + '-' + ('0' + q.getDate()).slice(-2);;
				if (startDate < MyDateString)
				{
					alert("the input is earlier than today");
					document.getElementById('sd').value = null;
					document.getElementById('ed').value = null;
				}
			});

		});

	$(document).ready(function () {
		$('#st').change(function myFunction() {
			selectedValue = $('#st').val();

			var fhours = parseInt(selectedValue.split(':')[0], 10) + 1;
			var fmins = selectedValue.split(':')[1];
			var f = selectedValue.split(' ')[2];
			var final = fhours + ":" + fmins;
			document.getElementById('et').value = final;

			endTime = $('#et').val();

			startTime = $(this).val();
			startT = parseInt(startTime.split(':')[0], 10);
			if (startT < 8 && startT > 21) {
				alert("Start Time is invalid, 8:00 AM - 8:00 PM only");
				document.getElementById('st').value = startTime + ":PM";
				document.getElementById('rate').value = 0;

			}

			if (endTime != null) {
				var hourDiff =
					parseInt(endTime.split(':')[0], 10) - parseInt(startTime.split(':')[0], 10);
				rateA = rate1 * hourDiff
				document.getElementById('rate').value = rateA;

			}




		});
	});
	$(document).ready(function () {
		$('#st').change(function myFunction() {
		});
		selectedValue = $(this).val();
		document.getElementById('et').value = selectedValue;

	});
	$(document).ready(function () {
		$('#et').change(function myFunction() {
			endTime = $(this).val();

			var endT = parseInt(endTime.split(':')[0], 10);


			if (endT >= 9 && endT <= 21) {
				if ((startT >= 8 && startT <= 20) && (endT >= 9 && endT <= 21)) {
					if (endT > startT) {
						var hourDiff =
							parseInt(endTime.split(':')[0], 10) - parseInt(startTime.split(':')[0], 10);
						rateA = rate1 * hourDiff
						document.getElementById('rate').value = rateA;
						statuset = "Valid";

					}
					else
					{
						statuset = "Invalid";
					}
				}
				else {

					var hourDiff =
						parseInt(endTime.split(':')[0], 10) - parseInt(startTime.split(':')[0], 10);
					rateA = ((rate1 * 2) * hourDiff)
					document.getElementById('rate').value = 0;
					statuset = "Invalid";

				}
			}
			else {
				alert("End Time is invalid 9:00 AM - 9:00 PM only");
				document.getElementById('et').value = "PM";
				document.getElementById('rate').value = 0;
				statuset = "Invalid";

			}


		});
	});
	function Check() {
		if (statusst == 'Valid' && statuset == 'Valid') {
			var stconcat = startDate + " " + startTime;
			var etconcat = endDate + " " + endTime;
			var cdrate = rateA;
			document.getElementById('stime').value = stconcat;
			document.getElementById('etime').value = etconcat;
			document.getElementById('tratee').value = cdrate;
		}
		else {
			alert('Invalid');
		}
	};


</script>
