
@{
	ViewBag.Title = "Swimming";
	Layout = "~/Views/Reserve/Layout.cshtml";
}



@using (Html.BeginForm("Swimming", "Reserve", FormMethod.Post))
{
	@Html.AntiForgeryToken()


	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">

		<style>
			.button {
				padding: 15px 25px;
				font-size: 15px;
				text-align: center;
				cursor: pointer;
				outline: none;
				color: #fff;
				background-color: #09442c;
				border: none;
				border-radius: 5px;
			}



				.button:hover {
					background-color: #0e6742;
				}
		</style>




	</head>





	<br />
	<br />
	<br />
	<br />
	<br />

	<div class=" container ">


		<center>

			<div class="jumbotron" style=" box-sizing:content-box; background-color:#1bc27d; max-width:500px; min-height: 290px; margin: 30px auto;">


				<font face="Helvetica">
					<font color="black">

						<br />

						<h2>Choose Date</h2>

						<hr />

                        <div class="text-center">

                            <br />
                            <font color="black"></font>

                            <font color="black">
                                StartTime : <input type="date" onselect="Set()" class="form-group" id="sd" name="sd" required />      EndTime : <input type="date" class="form-group" id="ed" name="ed" readonly="readonly" />


                            </font>
                         
                            <br />
                            <font color="black"><label class="text-center">Adult</label></font>
                            <br />
                            <font color="black">
                                Quantity : <input type="number" onselect="myFunction()" class="form-group" name="adult" id="adult" min="0" max="20" required value="0">
                                <label>Rate :</label>
                                <input type="text" class="form-group" name="rateadult" id="rateadult" readonly> /head
                            </font>
                            <br />


                            <br />
                            <font color="black"><label class="text-center">Child</label></font>
                            <br />
                            <font color="black">
                                Quantity :<input type="number" onselect="myFunction()" class="form-group" name="child" id="child" min="0" max="20" required value="0">
                                <label>Rate :</label>
                                <input type="text" class="form-group" name="ratechild" id="ratechild" readonly> /head
                            </font>
                            <br />
                            <br />

                            <font color="black">Rate :</font>

							<font color="black">
								<input type="text" id="rate" name="rate" class="form-group" readonly />
								<input type="hidden" id="tratee" name="tratee" />
								<input type="time" id="startT" name="startT" value="08:00" hidden/>
								<input type="time" id="endT" name="endT" value="21:00" hidden/>
								<input type="datetime" id="stime" name="stime" hidden/>
								<input type="datetime" id="etime" name="etime" hidden />
							</font>
                            <br />
                            <button name="submit" type="submit" button class="button" onclick="Check()"> Next</button>
                        </div>

					</font>
				</font>
			</div>

		</center>
	</div>


}

<script type="text/javascript">
	var startTime;
	var endTime;
	var selectedValue;
	var startT;
	var endT;
	var startDate;
	var endDate;
	var rate1=@ViewBag.Message;
	var rateA;
	var statuset="Valid";
    var statusst = "Valid";
    document.getElementById('rateadult').value = 100;
    document.getElementById('ratechild').value = 75;


	function ValidateDate() {
		var x = $('#sd').val();
		var y = $('#adult').val();
        var z = $('#child').val();
       
		if (x == " " && y == " " && z == " ") {
			alert("Please fill up all required fields");
		}
	}
	
	$(document).ready(
		function () {
			$('#sd').change(function () {
				selectedValue = $(this).val();
				document.getElementById('ed').value = selectedValue;
				startDate = selectedValue;
				endDate = selectedValue;
				var q = new Date();
				var MyDateString = q.getFullYear() + '-' + ('0' + (q.getMonth() + 1)).slice(-2) + '-' + ('0' + q.getDate()).slice(-2);;
				if (startDate < MyDateString)
				{
					alert("the input is earlier than today");
					document.getElementById('sd').value = null;
					document.getElementById('ed').value = null;
				}
				var timeS = document.getElementById('startT').value;
				var dateS = selectedValue;
				var finaldateTimeS = dateS + " " + timeS;
				document.getElementById('stime').value = finaldateTimeS;	



				var timeE = document.getElementById('endT').value;
				var dateE = selectedValue;
				var finaldateTimeE = dateE + " " + timeE;
				document.getElementById('etime').value = finaldateTimeE;	


			});

		});

	$(document).ready(function () {
		$('#adult').bind('keyup mouseup',function myFunction() {
            selectedValue1 = $('#adult').val();
            var rateAdult = 100;
			var resulta = document.getElementById('adultR');
			var fTotalA = rateAdult * selectedValue1;

            selectedValue2 = $('#child').val();
            var rateChild = 75;
            var resultc = document.getElementById('childR');
            var fTotalC = rateChild * selectedValue2;

			var result = document.getElementById('rate');
            result.value = parseInt(fTotalA) + parseInt(fTotalC);

		
		});
	});



	$(document).ready(function () {
        $('#child').bind('keyup mouseup', function myFunction() {

            selectedValue1 = $('#adult').val();
            var rateAdult = 100;
            var resulta = document.getElementById('adultR');
            var fTotalA = rateAdult * selectedValue1;

            selectedValue2 = $('#child').val();
            var rateChild = 75;
            var resultc = document.getElementById('childR');
            var fTotalC = rateChild * selectedValue2;

            var result = document.getElementById('rate');
            result.value = parseInt(fTotalA) + parseInt(fTotalC);


		});
	});
	






		
	function Check() {


s
		var stconcat = document.getElementById('sd').value;
		var etconcat = document.getElementById('ed').value
		var cdrate = document.getElementById('rate').value;


		//var a = document.getElementById('adult').value;
		//var c = document.getElementById('child').value;



		//document.getElementById('stime').value = stconcatt;
		//document.getElementById('etime').value = etconcatt;
		document.getElementById('tratee').value = cdrate;
		//document.getElementById('adult').value = a;
		//document.getElementById('child').value = c;

		
	}


</script>
