@model List<UResidence.Amenity>
@{
	Layout = "/Views/Layout/CashierLayout.cshtml";
}
<head>
	<style type='text/css'>
		.my-legend .legend-scale ul li {
			font-size: 80%;
			list-style: none;
			margin-left: 0;
			line-height: 18px;
			margin-bottom: 2px;
		}

		.my-legend ul.legend-labels li span {
			display: block;
			float: left;
			height: 16px;
			width: 30px;
			margin-right: 5px;
			margin-left: 0;
			border: 1px solid #999;
		}
	</style>
</head>

<body>
	<div class="container">
		<div class="modal fade" id="myModal" role="dialog">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal">&times;</button>
						<h4 class="modal-title"><span id="eventTitle"></span></h4>
					</div>
					<div class="modal-body">
						<input type="hidden" name="rid" id="rid" />
						<input type="hidden" name="rfid" id="rfid" />
						<p id="pDetails"></p>
						<br /><br />
						<button type="button" class="btn btn-primary" id="btnPayment" name="btnPayment" data-dismiss="modal">Record Payment</button>

					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
					</div>
				</div>
			</div>
		</div>
	</div>


	<div class="container">
		<div class="modal fade" id="paymentModal" role="dialog">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal">&times;</button>
						<h4 class="modal-title"><span>Payment</span></h4>
					</div>
					<div class="modal-body">
						<b>Payment: </b><input type="number" name="dp" id="dp" min="0" value="0" step="1" onkeypress="return event.charCode >= 48 && event.charCode <= 57" title="Numbers only">
						<br /><br />
						<b>Description: </b><textarea class="form-control" id="pdescription" name="pdescription"></textarea>
						<br /><br />
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-primary" id="btnAddPayment" name="btnAddPayment" onclick="AddPayment()">Add Payment</button>
						<button type="button" class="btn btn-info" id="btnHistory" name="btnHistory" data-dismiss="modal" onclick="ReceiptHistory()">Payment History</button>
						<button type="button" class="btn btn-danger" id="btnCloseP" name="btnCloseP" data-dismiss="modal">Close</button>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="container">
		<div class="modal fade" id="PaymentHistory" role="dialog">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal">&times;</button>
						<h4 class="modal-title"><span>Payment History</span></h4>
					</div>
					<div class="modal-body">
						<table class="table table-bordered table-striped" name="tbHistory" id="tbHistory" style="overflow-y:scroll;height:200px;display:block;"></table>
						<b>Total Payment :</b><label id="txtTotalPayment" name="txtTotalPayment"></label>

					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-danger" id="btnCloseRH" name="btnCloseRH" data-dismiss="modal">Close</button>
					</div>
				</div>
			</div>
		</div>
	</div>
	<br />
	<br />
	<div id="calendar" class="container"></div>
	<br />
	@foreach (Amenity amn in Model)
	{
	<div class='my-legend'>
		<div class='legend-scale'>
			<ul class='legend-labels'>
				<li><span style='background:@amn.Color;'></span>@amn.AmenityName</li>
			</ul>
		</div>
	</div>
	}
</body>
<link href="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.8.2/fullcalendar.min.css" rel="stylesheet" />
<link href="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.8.2/fullcalendar.print.css" rel="stylesheet" media="print" />

@section scripts{
	<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.18.1/moment.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.8.2/fullcalendar.min.js"></script>


	<script>
        $(document).ready(function () {
            $.ajax({
                type: "GET",
                url: "/Cashier/GetEvents",
                success: function (data) {
                    $.each(data, function (i, v) {
                        events.push({
                            title: v.AName,
                            reserved: v.ReservedBy,
                            start: moment(v.StartTime),
                            end: v.EndTime != null ? moment(v.EndTime) : null,
                            rate: v.Rate,
                            status: v.Status,
                            color: v.Color,
                            dp: v.Total,
                            cg: v.Charge,
                            bn: v.BldgNo,
                            un: v.UnitNo,
                            r: v.RId,
                            rf: v.RFId,
                            tc: v.TableCost,
                            cc: v.ChairCost,
                            amt: v.Amount,
                            cq: v.ChairQuantity,
							tq: v.TableQuantity,
							
                        });
                    })
                    GenerateCalendar(events);
                },
                error: function (error) {
                    alert('failed');
                }
            });



        });


        function AddPayment() {
            var refno = document.getElementById('rfid').value;
                var payment = document.getElementById('dp').value;
                var q = new Date();
                var MyDateString = q.getFullYear() + '-' + ('0' + (q.getMonth() + 1)).slice(-2) + '-' + ('0' + q.getDate()).slice(-2);
                var description = document.getElementById('pdescription').value;
                var name = "@Session["Fullname"]";

                var data1 = {
                    RefNo: refno,
                    Totalpayment: payment,
                    Date: MyDateString,
                    Description: description,
                    CreatedBy: name
                };


                $.ajax({
                    type: "POST",
                    url: "/Cashier/InsertPayment",
                    data: data1,
                    success: function (data) {
                        if (data == true) {
                            $('#paymentModal').modal('hide');
                            RefreshCalendar();
                            alert('Success');
                            window.location.reload();
                            //window.location.href = window.location.href + "?rnd=" + Math.random();
                            $('#myModal').modal();
                        }


                    },
                    error: function (error) {
                        alert('failed');
                    }
                });
        }


        function ReceiptHistory() {
            var refno = document.getElementById('rfid').value;

            $.ajax({
                type: "POST",
                url: "/calendar/ReceiptHistory",
                dataType: 'json',
                data: {
                    'refno1': refno
                },
                success: function (data) {
                    var totalp = 0;
                    var trHTML = '';
                    format: 'yyyy-mm',


                        $('#tbHistory').empty();
                    trHTML = '<tr><th>Date</th> <th>Payment</th> <th>Description</th> <th>Created By</th></tr>';
                    $.each(data, function (i, v) {
                        trHTML += '<tr><td>' + moment(v.Date).format("DD/MMM/YYYY hh:mm a") + '</td><td>' + v.Totalpayment + '</td><td>' + v.Description + '</td><td>' + v.CreatedBy + '</td></tr>';
                        totalp += v.Totalpayment;
                    });
                    $('#tbHistory').append(trHTML);
                    document.getElementById('txtTotalPayment').innerHTML = totalp;
                    trHTML = '';
                },
                error: function (error) {
                    alert('Failed to retrieve the record');
                }
            });
        }
        var events = [];
        var d = '';
        var selectedEvent = null;
        var totalpay = 0;



        function RefreshCalendar() {
            events = [];
            $.ajax({
                type: "GET",
                url: "/Cashier/GetEvents",
                success: function (data) {
                    $.each(data, function (i, v) {
                        events.push({
                            title: v.AName,
                            reserved: v.ReservedBy,
                            start: moment(v.StartTime),
                            end: v.EndTime != null ? moment(v.EndTime) : null,
                            rate: v.Rate,
                            status: v.Status,
                            color: v.Color,
                            dp: v.Total,
                            cg: v.Charge,
                            bn: v.BldgNo,
                            un: v.UnitNo,
                            r: v.RId,
                            rf: v.RFId,
                            tc: v.TableCost,
                            cc: v.ChairCost,
                            amt: v.Amount,
                            cq: v.ChairQuantity,
                            tq: v.TableQuantity
                        });
                    })
                    GenerateCalendar(events);
                },
                error: function (error) {
                    alert('failed');
                }
            });


        }


        function GenerateCalendar(events) {
            $('#calendar').fullCalendar('destroy');
            $('#calendar').fullCalendar({
                contentHeight: 400,
                defaultDate: new Date(),
                timeFormat: 'h(:mm):a',
                header: {
                    left: 'prev,next today',
                    center: 'title',
                    right: 'month,basicWeek,basicDay,agenda'
                },
                eventLimit: true,
                eventColor: '#378006',
                events: events,

                eventClick: function (calEvent, jsEvent, view) {

                    if (calEvent.title == 'SwimmingPool') {
                        selectedEvent = calEvent;
                        $('#myModal #eventTitle').html('<b>Reference Number: </b>' + calEvent.rf);
						var $description = $('<div/>');
						$description.append($('<p/>').html('<b>Amenity Name: </b>' + calEvent.title));
                        $description.append($('<p/>').html('<b>Reserved By: </b>' + calEvent.reserved));
                        $description.append($('<p/>').html('<b>Building No: </b>' + calEvent.bn));
                        $description.append($('<p/>').html('<b>Unit No: </b>' + calEvent.un));
                        $description.append($('<p/>').html('<b>StartTime: </b>' + calEvent.start.format("DD/MMM/YYYY hh:mm a")));
                        $description.append($('<p/>').html('<b>EndTime: </b>' + calEvent.end.format("DD/MMM/YYYY hh:mm a")));
                        $description.append($('<p/>').html('<b>Amenity Cost: </b>' + calEvent.rate + '&nbsp;&nbsp;&nbsp;&nbsp;<a>View Details</a>'));
                        $description.append($('<p/>').html('<b>Table Quantity: </b>' + calEvent.tq));
                        $description.append($('<p/>').html('<b>Table Cost: </b>' + calEvent.tc));
                        $description.append($('<p/>').html('<b>Chair Quantity: </b>' + calEvent.cq));
                        $description.append($('<p/>').html('<b>Chair Cost: </b>' + calEvent.cc));
                        $description.append($('<p/>').html('<b>Charge: </b>' + calEvent.cg));
                        $description.append($('<p/>').html('<b>Total Cost: </b>' + ((calEvent.rate + calEvent.tc + calEvent.cc + calEvent.cg))));
                        $description.append($('<p/>').html('<b>Reversal Amount: </b>' + (calEvent.amt)));
                        $description.append($('<p/>').html('<b>Total Payment: </b>' + (calEvent.dp - calEvent.amt)));
                        $description.append($('<p/>').html('<b>Outstanding Total: </b>' + ((calEvent.rate + calEvent.tc + calEvent.cc + calEvent.cg) - (calEvent.dp - calEvent.amt))));
                        $description.append($('<p/>').html('<b>Status: </b>' + calEvent.status));

                        document.getElementById('rid').value = calEvent.r;
                        document.getElementById('rfid').value = calEvent.rf;
                        totalpay = calEvent.dp;
                        $('#myModal #pDetails').empty().html($description);

                        $('#myModal').modal();
                    }

                    else {
                        selectedEvent = calEvent;
						$('#myModal #eventTitle').html('<b>Reference Number: </b>' + calEvent.rf);
						var $description = $('<div/>');
						$description.append($('<p/>').html('<b>Amenity Name: </b>' + calEvent.title));
                        $description.append($('<p/>').html('<b>Reserved By: </b>' + calEvent.reserved));
                        $description.append($('<p/>').html('<b>Building No: </b>' + calEvent.bn));
                        $description.append($('<p/>').html('<b>Unit No: </b>' + calEvent.un));
                        $description.append($('<p/>').html('<b>StartTime: </b>' + calEvent.start.format("DD/MMM/YYYY hh:mm a")));
                        $description.append($('<p/>').html('<b>EndTime: </b>' + calEvent.end.format("DD/MMM/YYYY hh:mm a")));
                        $description.append($('<p/>').html('<b>Amenity Cost: </b>' + calEvent.rate));
                        $description.append($('<p/>').html('<b>Table Quantity: </b>' + calEvent.tq));
                        $description.append($('<p/>').html('<b>Table Cost: </b>' + calEvent.tc));
                        $description.append($('<p/>').html('<b>Chair Quantity: </b>' + calEvent.cq));
                        $description.append($('<p/>').html('<b>Chair Cost: </b>' + calEvent.cc));
                        $description.append($('<p/>').html('<b>Charge: </b>' + calEvent.cg));
                        $description.append($('<p/>').html('<b>Total Cost: </b>' + ((calEvent.rate + calEvent.tc + calEvent.cc + calEvent.cg))));
                        $description.append($('<p/>').html('<b>Reversal Amount: </b>' + (calEvent.amt)));
                        $description.append($('<p/>').html('<b>Total Payment: </b>' + (calEvent.dp - calEvent.amt)));
                        $description.append($('<p/>').html('<b>Outstanding Total: </b>' + ((calEvent.rate + calEvent.tc + calEvent.cc + calEvent.cg) - (calEvent.dp - calEvent.amt))));
                        $description.append($('<p/>').html('<b>Status: </b>' + calEvent.status));
                        document.getElementById('rid').value = calEvent.r;
                        document.getElementById('rfid').value = calEvent.rf;
                        totalpay = calEvent.dp;
                        $('#myModal #pDetails').empty().html($description);

                        $('#myModal').modal();
                    }
                }
            });
            }
            $('#btnPayment').click(function () {

                $('#paymentModal').modal();
            });
            $('#btnHistory').click(function () {

                $('#PaymentHistory').modal();

            });
            $('#btnCloseP').click(function () {

                $('#myModal').modal();
            }
            );
	</script>

}
